{% extends "base.html" %}
{% block content %}
<!--
				PAGE HEADER

				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs">
				<div class="container">

					<h1>ABOUT US</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Pages</a></li>
						<li class="active">About Us</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-lg-5 col-md-5 col-sm-5">

							<img class="img-fluid" src="demo_files/images/girl_looking-min.jpg" alt="">

						</div>

						<div class="col-lg-7 col-md-7 col-sm-7">
							<h2 class="fs-25">We believe in Simple &amp; Creative</h2>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam in minima iusto voluptatem aliquam odit odio. Aliquam voluptatibus beatae officiis?</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique excepturi voluptates placeat ducimus delectus magnam tempore dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus.</p>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
								<cite>Albert Einstein</cite>
							</blockquote>

						</div>

					</div>

				</div>
			</section>
			<!-- / -->




			<!-- -->
			<section>
				<div class="container">

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
								<h4>Web Design</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

								<a href="#">
									Read
									<!-- /word rotator -->
									<span class="word-rotator" data-delay="2000">
										<span class="items">
											<span>more</span>
											<span>now</span>
										</span>
									</span><!-- /word rotator -->
									<i class="glyphicon glyphicon-menu-right fs-12"></i>
								</a>

							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
								<h4>Web Analytics</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

								<a href="#">
									Read
									<!-- /word rotator -->
									<span class="word-rotator" data-delay="2000">
										<span class="items">
											<span>more</span>
											<span>now</span>
										</span>
									</span><!-- /word rotator -->
									<i class="glyphicon glyphicon-menu-right fs-12"></i>
								</a>

							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i>
								<h4>Web Development</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>

								<a href="#">
									Read
									<!-- /word rotator -->
									<span class="word-rotator" data-delay="2000">
										<span class="items">
											<span>more</span>
											<span>now</span>
										</span>
									</span><!-- /word rotator -->
									<i class="glyphicon glyphicon-menu-right fs-12"></i>
								</a>

							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>
								<h4>Marketing</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>

								<a href="#">
									Read
									<!-- /word rotator -->
									<span class="word-rotator" data-delay="2000">
										<span class="items">
											<span>more</span>
											<span>now</span>
										</span>
									</span><!-- /word rotator -->
									<i class="glyphicon glyphicon-menu-right fs-12"></i>
								</a>

							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- / -->



			<!-- PARALLAX -->
			<section class="parallax parallax-2" style="background-image: url('static/img/1200x800/18-min.jpg');">
				<div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="row countTo-sm text-center">

						<div class="col-xs-6 col-sm-3 col-xs-6">
							<i class="ico-lg ico-transparent et-megaphone"></i>
							<div class="block fs-40" style="color: #3498db;">
								<strong class="countTo fs-40" data-speed="3000">1303</strong>
							</div>
							<h3 class="fs-15 mt-10 mb-0">CUSTOMERS</h3>
						</div>

						<div class="col-xs-6 col-sm-3 col-xs-6">
							<i class="ico-lg ico-transparent et-chat"></i>
							<div class="block fs-40" style="color: #e74c3c;">
								<strong class="countTo fs-40" data-speed="3000">100</strong> %
							</div>
							<h3 class="fs-15 mt-10 mb-0">SUPPORT</h3>
						</div>

						<div class="col-xs-6 col-sm-3 col-xs-6">
							<i class="ico-lg ico-transparent et-flag"></i>
							<div class="block fs-40" style="color: #16a085;">
								<strong class="countTo fs-40" data-speed="3000">82</strong> %
							</div>
							<h3 class="fs-15 mt-10 mb-0">CUSTOMER CARE</h3>
						</div>

						<div class="col-xs-6 col-sm-3 col-xs-6">
							<i class="ico-lg ico-transparent et-puzzle"></i>
							<div class="block fs-40" style="color: #9b59b6;">
								<strong class="countTo fs-40" data-speed="3000">9877</strong>
							</div>
							<h3 class="fs-15 mt-10 mb-0">DELIVERY</h3>
						</div>

					</div>

				</div>

			</section>
			<!-- /PARALLAX -->


			<!-- CLIENTS -->
			<section class="section-sm">
				<div class="container">

					<header class="text-center mb-10">
						<h3>HAPPY CLIENTS</h3>
					</header>

					<hr class="mb-60" />

					<!--
						Note: remove class="rounded" from the img for squared image!
					-->
					<div class="row">
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<img class="rounded" src="demo_files/images/people/300x300/2-min.jpg" alt="" />
								</figure>
								<div class="testimonial-content">
									<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
									<cite>
										Felicia Doe
										<span>Company Ltd.</span>
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<img class="rounded" src="demo_files/images/people/300x300/1-min.jpg" alt="" />
								</figure>
								<div class="testimonial-content">
									<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
									<cite>
										Joana Doe
										<span>Company Ltd.</span>
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<img class="rounded" src="demo_files/images/people/300x300/6-min.jpg" alt="" />
								</figure>
								<div class="testimonial-content">
									<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
									<cite>
										Melissa Doe
										<span>Company Ltd.</span>
									</cite>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /CLIENTS -->



			<!-- BUTTON CALLOUT -->
			<a href="#purchase" rel="nofollow" target="_blank" class="btn btn-xlg btn-warning fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Smarty convinced you?
					<strong>Purchase now &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->

{% endblock %}

{% block scripts %}
    <script src="static/js/main.js"></script>
{% endblock %}