{% extends "base.html" %}

{% block links %}
    <link href="static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <!-- -->
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
{#                    <img class="float-left" src="/static/img/FIMCO-WEBSITE-LOGOS.png" height="250" width="250" alt="" />#}
                    <div class="heading-title" id="about">
                        <h2>About Us</h2>
                    </div>
                    <p>
                        FIMCO is a Financial Investment Management Company that seeks offer professional assistance to
                        clients looking to navigate Tanzanian ﬁnancial markets across various asset classes.
                    </p>
                    <p>
                        After working in commercial banks for over 25 years combined FIMCO founders and directors
                        have been driven with the need to spread financial market literacy and capabilities by
                        informing, advising and executing investments with and for clients.
                    </p>
                    <p class="more-content">
                        This assistance through offering relevant information, advisory or execution capabilities
                        is underpinned by the deep understanding of local market dynamics and core values committed to
                        Diligence, Integrity and Innovation in all we do. We are looking to introduce local and foreign
                        investors to the Tanzanian Financial markets opportunities, and indeed vice versa. We do so
                        leveraging years of experience working with international banks in Tanzanian and a rich track
                        record of engaging with clients and regulators alike. Whether it’s to sell or hold; we work hard
                        to give our clients sufficient confidence to make this decision across various asset classes.
                    </p>
                    <div class="col-md-3">
                        <a class="tp-caption WebProduct-Button read-more-show"
                            href="#"
                            data-x="['left','left','left','left']" data-hoffset="['30','30','200','79']"
                            data-y="['middle','middle','top','top']" data-voffset="['268','268','456','430']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                            data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(0, 42, 84, 1.00);"

                            data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                            data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                            data-start="1750"
                            data-splitin="none"
                            data-splitout="none"
                            data-actions=''
                            data-responsive_offset="on"
                            data-responsive="off"

                            style="z-index: 9; white-space: nowrap;letter-spacing:1px;">LEARN MORE
                        </a>
                    </div>
                </div>
                <!-- /LEFT -->

                <!-- RIGHT -->
                <div class="col-md-3">

                    <div class="box-static box-border-top mb-60">
                        <div class="box-title">
                            <h4>Why deal with us</h4>
                        </div>
                        <ul class="list-unstyled list-icons p-15 pb-0">
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">We Inform</span>
                                <small>
                                    We watch markets intently and intuitively and are able to relay the relevant
                                    information to clients assisting in decision making prior to purchase/sell of an asset.
                                </small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">We Advice</span>
                                <small>
                                    Be it for corporate treasury operations, government entities, foreign investors or
                                    individuals we interact with our client and devise best course of action for them to
                                    assume risk in the market.
                                </small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">We execute</span>
                                <small>
                                    Across various asset classes we execute orders by seeking out liquidity in a
                                    transparent and affordable manner.
                                </small>
                            </li>
                        </ul>
                        <hr />
                    </div>
                    <hr />
                    <!-- SOCIAL ICONS -->
                    <div class="hidden-xs-down text-center">
                        <a href="#" class="social-icon social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- /RIGHT -->
            </div>
            <header class="text-center mb-10" id="values">
                <h3>OUR VALUES</h3>
            </header>

            <hr class="mb-60" />
            <div class="row">
                <div class="col-md-4">
                    <div class="heading-title heading-border-bottom heading-color">
                        <h3>Diligence</h3>
                    </div>
                    <p>We work hard; intelligently and persistently to create value for our clients.</p>
                </div>

                <div class="col-md-4">
                    <div class="heading-title heading-border-bottom heading-color">
                        <h3>Integrity</h3>
                    </div>
                    <p>We abide strictly to principles of market and professional conduct without compromise in creating
                        value for our clients.
                    </p>
                </div>

                <div class="col-md-4">
                    <div class="heading-title heading-border-bottom heading-color">
                        <h3>Innovation</h3>
                    </div>
                    <p>We are constantly looking for ways to improve our products and services to create value for our clients.</p>
                </div>
            </div>
            <div class="row mt-60">
                <div class="col-sm-6" id="mission">
                    <div class="heading-title heading-border-bottom heading-color">
                        <h3>Our Mission</h3>
{#                        <p>we always complete our missions</p>#}
                    </div>
                    <p>Being the most trusted gateway to experiencing TZ financial markets offering Information, advise
                        and execution capabilities across all asset classes leveraging innovating channels.
                    </p>
                </div>
                <div class="col-sm-6" id="vision">
                    <div class="heading-title heading-border-bottom heading-color">
                        <h3>Our Vision</h3>
{#                        <p>our experience is all you need</p>#}
                    </div>
                    <p>Revolutionize the approach, mentality and propensity of investment/savings by leveraging innovative platforms and enhancing financial literacy.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- / -->
    <!-- PARALLAX -->
    <header class="text-center mb-10" id="founders">
        <h3>THE FOUNDERS</h3>
    </header>
    <hr class="mb-60" />
    <section class="parallax parallax-2" id="section3">
        <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
        <div class="container">
            <div class="row">
                <!-- item -->
                <div class="col-md-3 col-sm-6 offset-md-1">
                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-fluid" src="" alt="" />
                                    <h2>Abdulrahman Said</h2>
                                    <small>Director</small>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="m-0">Abdulrahman Said</h4>
                                <small>Director</small>
                                <hr />
                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
                                <hr />
                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <!-- item -->
                <div class="col-md-3 col-sm-6 offset-md-1">
                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-fluid" src="" alt="" />
                                    <h2>Ivan Tarimo</h2>
                                    <small>Director</small>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="m-0">Ivan Tarimo</h4>
                                <small>Director</small>
                                <hr />
                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
                                <hr />
                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <!-- item -->
                <div class="col-md-3 col-sm-6 offset-md-1">
                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-fluid" src="" alt="" />
                                    <h2>Lawrence Mafuru</h2>
                                    <small>Director</small>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="m-0">Lawrence Mafuru</h4>
                                <small>Director</small>
                                <hr />
                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
                                <hr />
                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <!-- item -->
{#                <div class="col-md-3 col-sm-6">#}
{#                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">#}
{#                        <div class="front">#}
{#                            <div class="box1 box-default">#}
{#                                <div class="box-icon-title">#}
{#                                    <img class="img-fluid" src="demo_files/images/people/460x700/8-min.jpg" alt="" />#}
{#                                    <h2>Rosario Arun</h2>#}
{#                                    <small>Director</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="back">#}
{#                            <div class="box2 box-default">#}
{#                                <h4 class="m-0">Rosario Arun</h4>#}
{#                                <small>Director</small>#}
{#                                <hr />#}
{#                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>#}
{#                                <hr />#}
{#                                <a href="#" class="social-icon social-icon-sm social-facebook">#}
{#                                    <i class="fa fa-facebook"></i>#}
{#                                    <i class="fa fa-facebook"></i>#}
{#                                </a>#}
{#                                <a href="#" class="social-icon social-icon-sm social-twitter">#}
{#                                    <i class="fa fa-twitter"></i>#}
{#                                    <i class="fa fa-twitter"></i>#}
{#                                </a>#}
{#                                <a href="#" class="social-icon social-icon-sm social-linkedin">#}
{#                                    <i class="fa fa-linkedin"></i>#}
{#                                    <i class="fa fa-linkedin"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!-- /item -->
            </div>
        </div>
    </section>
    <!-- /PARALLAX -->
    <section class="section-sm" id="approach">
        <div class="container">
            <header class="text-center mb-10">
                <h3>OUR INVESTMENT APPROACH</h3>
            </header>
            <hr class="mb-60" />
            <div class="row">
                <div class="col-lg-4">
                    <div class="heading-title heading-border-bottom">
                        <h3>Register</h3>
                    </div>
                    <div class="toggle toggle-transparent-body toggle-accordion">
                        <div class="toggle active">
                            <label>Personal Info</label>
                            <div class="toggle-content">
                                <p>Enter your personal details; names, email, ID, phone... to create your profile. </p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>Upload photo</label>
                            <div class="toggle-content">
                                <p>Upload photo of your ID(Voting card ID, Licence ID, National ID or Passport).</p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>Your Account</label>
                            <div class="toggle-content">
                                <p>Advise us your preferred bank A/C you wish to use to forward proceeds.</p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>Money in/out of POCHI</label>
                            <div class="toggle-content">
                                <p>Receive a POCHI ID and login via app or website; transfer cash and get started.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="heading-title heading-border-bottom">
                        <h3>Get Started</h3>
                    </div>
                    <div class="toggle toggle-transparent-body toggle-accordion">
                        <div class="toggle active">
                            <label>Invest now</label>
                            <div class="toggle-content">
                                <p>Transfer cash to your fimco account and view your cash transactions through POCHI. </p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>Manage your finances</label>
                            <div class="toggle-content">
                                <p>Manage your cash, returns and planning through POCHI interface.</p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>Setup and join groups</label>
                            <div class="toggle-content">
                                <p>Setup and join groups through Joint POCHI Accounts with other FIMCO members and invest in groups.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="heading-title heading-border-bottom">
                        <h3>Data and Analysis</h3>
                    </div>
                    <div class="toggle toggle-transparent-body toggle-accordion">
                        <div class="toggle active">
                            <label>POCHI Admin Dashboard</label>
                            <div class="toggle-content">
                                <p>View data related to your balance, interests, POCHI rates, fees and statements. </p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>Instant reports</label>
                            <div class="toggle-content">
                                <p>View simplified charts and graphs showing your savings and investment patterns.</p>
                            </div>
                        </div>
                        <div class="toggle">
                            <label>...and many more</label>
                            <div class="toggle-content">
                                <p>Access other investment opportunities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/js/about.js"></script>
{% endblock %}