{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
                    <div class="heading-title">
                        <h2>Advisory</h2>
                    </div>
                    <p>
                        We offer our expertise and insights to guide our clients through their capital market transactions
                        such as IPO, Debt issuance and others.
                    </p>
                    <p>
                        We leverage best practices in executing this service at times forming strategic partnerships to
                        help deliver superior experience to our clients.
                    </p>
                    <p>
                        Our local footprint allows us to serve the diverse needs of our clients in Tanzania.
                        Our ability to deliver is enhanced by our in-depth understanding of risks and markets to inform
                        the unique financial, risk management and regulatory demands that clients face. We undertake a
                        wide range of both strategic and tactical engagements to ensure that our clients achieve their
                        targeted goals.
                    </p>
                    <p>
                        <a href="{% url 'site' 'contact' %}">Contact us</a> for more information on how best we can advise you.
                    </p>
                </div>
                <!-- /LEFT -->

                <!-- RIGHT -->
                <div class="col-md-3">
                    <div class="box-static box-border-top mb-60">
                        <div class="box-title">
                            <h4>We focus on</h4>
                        </div>
                        <ul class="list-unstyled list-icons p-15 pb-0">
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block fs-15">
                                    Providing financial markets expertise across various asset
                                    classes available in our markets.
                                </span>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block fs-15">
                                    Providing guidance on the various regulations and market practices.
                                </span>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block fs-15">
                                    Understanding clients’ requirements and tailoring advisory framework that addresses underlying needs.
                                </span>
                            </li>
                        </ul>
                        <hr />
                    </div>
                </div>
                <!-- /RIGHT -->
            </div>
        </div>
    </section>
{% endblock %}