{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
                    <div class="heading-title">
                        <h2>Brokerage</h2>
                    </div>
                    <p>
                        We offer access to Dar es Salaam Stock Exchange listed securities as a licensed broker/dealer of
                        securities.
                    </p>
                    <p>
                        Whilst most intermediaries and market watchers provide a snapshot of activity at the end of the
                        day; through our FIMCO platform we offer our clients a way of staying close to the DSE activity
                        as they move throughout the trading day.
                    </p>
                    <p>
                        Reach out to us and let us discuss how we can help you navigate the opportunities in the DSE
                        for your portfolio.
                    </p>
                </div>
                <!-- /LEFT -->

                <!-- RIGHT -->
                <div class="col-md-3">
                    <!-- SOCIAL ICONS -->
                    <div class="hidden-xs-down text-center">
                        <a href="#" class="social-icon social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- /RIGHT -->
            </div>
        </div>
    </section>
{% endblock %}