{% extends "base.html" %}
{% block content %}
<!--
				PAGE HEADER

				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs">
				<div class="container">

					<h1>CLIENTS</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Pages</a></li>
						<li class="active">Clients</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/1.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/2.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/3.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/4.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/5.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/6.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/7.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/8.jpg" alt="client" />
							</a>
						</li>

						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/1.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/2.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/3.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/4.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/5.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/6.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/7.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="#">
								<img class="img-fluid" src="demo_files/images/brands/8.jpg" alt="client" />
							</a>
						</li>
					</ul>
				</div>
			</section>
			<!-- / -->
{% endblock %}

{% block scripts %}
    <script src="static/js/main.js"></script>
{% endblock %}