{% extends "base.html" %}
{% block links %}
    <link href="/static/css/contact.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <!-- -->
    <section>
        <div class="container">
            <div id="map3" class="h-300 mb-60"></div>
            <div class="row">
                <div class="col-sm-10">
                    <h1 class="mb-10 fw-300">
                        Contact us
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="block pb-15 pt-15">
                        <i class="ico-color ico-rounded fa fa-phone"></i>
                        <div class="inline-block">
                            <span class="description">call us</span>
                            <span class="phone fw-600">+255 22 292627 / +255 767 211690</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="block pb-15 pt-15">
                        <i class="ico-color ico-rounded fa fa-phone"></i>
                        <div class="inline-block">
                            <span class="description">email us</span>
                            <span class="phone fw-600">info@fimco.co.tz</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-30">
                <!-- FORM -->
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="col-lg-6 col-xs-12 col-centered">
                                    <div class="alert alert-danger mb-30 text-center">
                                        <p><strong>{{ message }}</strong></p>
                                        <button type="button" class="btn btn-danger mt-10" data-dismiss="alert">OK</button>
                                    </div>
                                </div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                <div class="col-lg-6 col-xs-12 col-centered">
                                    <div class="alert alert-info mb-30 text-center">
                                        <p><strong>{{ message }}</strong>
                                        <button type="button" class="btn btn-success mt-10" data-dismiss="alert">OK</button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-lg-6 col-xs-12 col-centered">
                                    <div class="alert alert-success mb-30 text-center">
                                        <p>{{ message }}</p>
                                        <button type="button" class="btn btn-success mt-10" data-dismiss="alert">OK</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                    <!-- BOX 1 -->
                    <div class="box-static box-border-top p-30">

                        <div class="box-title mb-30">
                            <h2 class="fs-20"><strong>Submit your message here</strong></h2>
                        </div>
                        <!--
                        MESSAGES

                            How it works?
                            The form data is posted to php/contact.php where the fields are verified!
                            php.contact.php will redirect back here and will add a hash to the end of the URL:
                                #alert_success 		= email sent
                                #alert_failed		= email not sent - internal server error (404 error or SMTP problem)
                                #alert_mandatory	= email not sent - required fields empty
                                Hashes are handled by assets/js/contact.js

                            Form data: required to be an array. Example:
                                contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
                                Also, add `required` to input fields if is a mandatory field.
                                Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

                            PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
                                         ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

                            WARNING! Do not change the `email` and `name`!
                                        contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
                                        contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
                        -->

                        <!-- Alert Success -->
                        <div id="alert_success" class="alert alert-success mb-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Thank You!</strong> Your message successfully sent!
                        </div><!-- /Alert Success -->


                        <!-- Alert Failed -->
                        <div id="alert_failed" class="alert alert-danger mb-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>[SMTP] Error!</strong> Internal server error!
                        </div><!-- /Alert Failed -->


                        <!-- Alert Mandatory -->
                        <div id="alert_mandatory" class="alert alert-danger mb-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                        </div><!-- /Alert Mandatory -->


                        <form action="{% url 'inquiry' %}" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <input type="hidden" name="action" value="contact_send" />
                                <div class="row">
                                        <div class="col-md-4">
                                            <label for="contact:name">Full Name *</label>
                                            {{ iForm.name }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="contact:email">E-mail Address *</label>
                                            {{ iForm.email }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="contact:phone">Phone *</label>
                                            {{ iForm.email }}
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <label for="contact:subject">Subject *</label>
                                            {{ iForm.subject }}
                                        </div>
{#                                        <div class="col-md-4">#}
{#                                            <label for="contact:id">POCHI ID<small> (optional)</small></label>#}
{#                                            <input type="text" value="" class="form-control" name="contact[id]" id="contact:id">#}
{#                                        </div>#}
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <label for="contact:message">Message *</label>
                                            {{ iForm.message }}
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <label for="contact:attachment"> Attachment, if any...</label>
                                            <div class="fancy-file-upload fancy-file-primary">
                                                <i class="fa fa-upload"></i>
                                                {{ iForm.attachment }}
                                                <input type="text" class="form-control" placeholder="no file selected" readonly="" />
                                                <span class="button">Choose File</span>
                                                <small class="text-muted block">Max file size: 5Mb (pdf/jpg/png)</small>
                                            </div>
                                        </div>
                                </div>
                            </fieldset>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /BOX 1 -->
{#                    <h3><strong><em>DM</em></strong> Anyone? ...</h3>#}

                </div>
                <!-- /FORM -->

                <!-- INFO -->
                <div class="col-md-4 col-sm-4">
                    <h2>Visit Us</h2>
{#                        <hr />#}
                        <p>
                            <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong><br> Office #205<br> 2nd Floor Jangid Plaza<br> Plot No. G6, Chaburuma Road, Off. Ali Hassan Mwinyi Road<br> Dar Es Salaam, Tanzania.</span>
                            <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:255789123456">+255 22 292627 / +255 767 211690</a></span>
                            <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@fimco.co.tz">info@fimco.co.tz</a></span>
                        </p>
                        <hr />
                        <h4 class="font300">Business Hours</h4>
                        <p>
                            <span class="block"><strong>Monday - Friday:</strong> 8:30am to 5:15pm</span>
                            <span class="block"><strong>Saturday:</strong> 9am to 12:30pm</span>
                            <span class="block"><strong>Sunday/Public Holidays:</strong> Closed</span>
                        </p>
                </div>
                <!-- /INFO -->
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <!-- PAGELEVEL SCRIPTS -->
    <script type="text/javascript" src="/static/js/contact.js"></script>

    <!--
        GMAP.JS
        http://hpneo.github.io/gmaps/
    -->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
    <script type="text/javascript" src="/static/plugins/gmaps.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function(){

            /**
                @MULTIPLE MARKERS GOOGLE MAP
            **/
            map3 = new GMaps({
                div: '#map3',
                lat: -6.781989,
                lng: 39.274361
            });

            // Marker 1
            map3.addMarker({
                lat: -6.781989,
                lng: 39.274361,
                title: 'Jangid Plaza',
                details: {
                database_id: 42,
                author: 'HPNeo'
                },
                click: function(e){
                    if(console.log) {
                        console.log(e);
                    }
                    alert('2nd floor');
                }
            });

        });

    </script>
{% endblock %}