{% extends "base.html" %}

{% block links %}
    <style>
        .validate{
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="heading-title text-center">
                <h3>Corporate Account</h3>
            </div>
            <div class="card card-default">
                <div class="card-heading card-heading-transparent">
                    <h2 class="card-title bold">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
                </div>

                <form class="validate" action="{% url 'corporate' %}" method="post" enctype="multipart/form-data" data-success="Sent! Thank you!" data-toastr-position="top-right">
                {% csrf_token %}
                    <div class="card-block">
                        <table>
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                                {{ wizard.form.management_form }}
                                {% for form in wizard.form.forms %}
                                    {{ form }}
                                {% endfor %}
                            {% else %}
                                {{ wizard.form }}
                            {% endif %}
                        </table>
                    </div>
                    <div class="card-footer">
                        {% if wizard.steps.prev %}
                            <button name="wizard_goto_step" type="submit" class="btn btn-primary" value="{{ wizard.steps.first }}">first step</button>
                            <button name="wizard_goto_step" type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}">prev step</button>
                        {% endif %}
                        <input type="submit" class="btn btn-primary btn-teal" value="Next"/>
                    </div>
                </form>
            </div>
{##}
{#                                    <div class="card-block">#}
{#                                        <fieldset>#}
{#                                            <div class="row">#}
{#                                                <div class="col-md-6 col-sm-6">#}
{#                                                    <label for="corporate:name">Company Name <small>(required)</small></label>#}
{#                                                    <label class="input mb-10">#}
{#                                                        <i class="ico-append fa fa-building"></i>#}
{#                                                        {{ cForm.name }}#}
{#                                                        <b class="tooltip tooltip-bottom-right">Your Company's Name</b>#}
{#                                                    </label>#}
{#                                                    {% if cForm.name.errors %}#}
{#                                                        {% for error in cForm.name.errors %}#}
{#                                                            <div class="alert alert-mini alert-danger mb-30">#}
{#                                                                <strong>{{ error|escape }}</strong>#}
{#                                                            </div>#}
{#                                                        {% endfor %}#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                                <div class="col-md-6 col-sm-6">#}
{#                                                    <label for="corporate:address">Address <small>(required)</small></label>#}
{#                                                    <label class="input mb-10">#}
{#                                                        <i class="ico-append fa fa-address-card"></i>#}
{#                                                        {{ cForm.address }}#}
{#                                                        <b class="tooltip tooltip-bottom-right">Company Address</b>#}
{#                                                    </label>#}
{#                                                    {% if cForm.address.errors %}#}
{#                                                        {% for error in cForm.address.errors %}#}
{#                                                            <div class="alert alert-mini alert-danger mb-30">#}
{#                                                                <strong>{{ error|escape }}</strong>#}
{#                                                            </div>#}
{#                                                        {% endfor %}#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                            </div>#}
        </div>
    </section>
{% endblock %}