{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
                    <div class="heading-title">
                        <h2>Fund Management</h2>
                    </div>
                    <p>
                        We offer our clients access to different investment opportunities that attempt to maximize their
                        returns and manage risks accordingly.
                    </p>
                    <p>
                        Client can choose from standardized fund solutions such as POCHI, or our Dollar Fund to maximize
                        on their returns by pooling funds by FIMCO which then invests diligently in the local markets;
                        or bespoke solutions that cater to our clients Size of investment, liquidity preference,
                        risk adverseness and the yields that the market has to offer.
                    </p>
                    <p>
                        FIMCO aims to invest on behalf of our clients — from government, large institutions to foundations,
                        medium and small companies, parents and grandparents, teachers, nurses, doctors and people from
                        all walks of life.
                    </p>
                    <p>
                        We are client focussed and our responsibility is to ensure that our clients get the insight into
                        how to invest their by providing solutions that can help them build a better financial future.
                    </p>
                    <p>
                        Our background speaks by itself – being passionate about we do and intensely focused on
                        performing at the highest levels. The challenges in our market are highly complex and as fund
                        managers we strive to out-think to what will be the best balance of risk and return across all
                        available investment opportunities on behalf of our clients.
                    </p>
                    <p>
                        Our clients’ investment objectives comes first and it is our responsibility to ensure that we meet
                        both your short-term and long-term goals.
                    </p>
                    <p>
                        <a href="{% url 'site' 'contact' %}">Contact us</a> and start investing through us today!
                    </p>
                </div>
                <!-- /LEFT -->

                <!-- RIGHT -->
                <div class="col-md-3">
                    <div class="box-static box-border-top mb-60">
                        <div class="box-title">
                            <h4>Our process</h4>
                        </div>
                        <ul class="list-unstyled list-icons p-15 pb-0">
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Registration (Basic KYC)</span>
                                <small>Fill a form or two so that we know who you really are!</small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Execute Investment Mandate</span>
                                <small>Legal protection from any liability; good for us and great for you</small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Initiate Investment transaction</span>
                                <small>Tell us how much you’re looking to invest and we shall tell you how!</small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Fund transfer</span>
                                <small>Transfer cash to our investment trust account and let us handle the rest</small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Investment execution</span>
                                <small>We invest and you receive notification of confirmation.</small>
                            </li>
                        </ul>
                        <hr />
                    </div>
{#                    <hr />#}
                    <!-- SOCIAL ICONS -->
{#                    <div class="hidden-xs-down text-center">#}
{#                        <a href="#" class="social-icon social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">#}
{#                            <i class="icon-facebook"></i>#}
{#                            <i class="icon-facebook"></i>#}
{#                        </a>#}
{##}
{#                        <a href="#" class="social-icon social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">#}
{#                            <i class="icon-twitter"></i>#}
{#                            <i class="icon-twitter"></i>#}
{#                        </a>#}
{##}
{#                        <a href="#" class="social-icon social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">#}
{#                            <i class="icon-gplus"></i>#}
{#                            <i class="icon-gplus"></i>#}
{#                        </a>#}
{##}
{#                        <a href="#" class="social-icon social-icon-border social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">#}
{#                            <i class="icon-linkedin"></i>#}
{#                            <i class="icon-linkedin"></i>#}
{#                        </a>#}
{#                    </div>#}
                </div>
                <!-- /RIGHT -->
            </div>
        </div>
    </section>
{% endblock %}