{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
                    <div class="heading-title">
                        <h2>Fund Management</h2>
                    </div>
                    <p>
                        We offer our clients access to different funds that will maximize their returns and manage
                        risks accordingly.
                    </p>
                    <p>
                        Client can choose from standardized fund solutions such as POCHI, or our Dollar Fund to maximize
                        on their returns by pooling funds by FIMCO which then invests diligently in the local markets;
                        or bespoke solutions that cater to our clients Size of investment, liquidity preference,
                        risk averseness and the yields that the market has to offer.
                    </p>
                    <p>
                        <a href="{% url 'site' 'contact' %}">Contact us</a> to discuss how we can help you invest your funds profitably.
                    </p>
                </div>
                <!-- /LEFT -->

                <!-- RIGHT -->
                <div class="col-md-3">
                    <!-- SOCIAL ICONS -->
                    <div class="hidden-xs-down text-center">
                        <a href="#" class="social-icon social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- /RIGHT -->
            </div>
        </div>
    </section>
{% endblock %}