{% extends "base.html" %}
{% block content %}
<!-- REVOLUTION SLIDER -->
			<section id="slider" class="fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:

						data-navigationStyle="" theme default navigation

						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"

					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"

					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullscreenbanner" data-navigationStyle="preview4">
					<ul class="hide">

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="static/img/150x99/27-min.jpg">

							<img src="static/img/1x1.png" data-lazyload="static/img/1200x800/27-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

{#							<div class="tp-caption customin ltl tp-resizeme text_white"#}
{#								data-x="center"#}
{#								data-y="180"#}
{#								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"#}
{#								data-speed="800"#}
{#								data-start="1000"#}
{#								data-easing="easeOutQuad"#}
{#								data-splitin="none"#}
{#								data-splitout="none"#}
{#								data-elementdelay="0.01"#}
{#								data-endelementdelay="0.1"#}
{#								data-endspeed="1000"#}
{#								data-endeasing="Power4.easeIn" style="z-index: 10;">#}
{#								<span class="fw-300">DEVELOPMENT / MARKETING / DESIGN / PHOTO</span>#}
{#							</div>#}

							<div class="tp-caption customin ltl tp-resizeme large_bold_white"
								data-x="center"
								data-y="230"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1200"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								INFORM. ADVICE. EXECUTE
							</div>

{#							<div class="tp-caption customin ltl tp-resizeme small_light_white"#}
{#								data-x="center"#}
{#								data-y="350"#}
{#								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"#}
{#								data-speed="800"#}
{#								data-start="1400"#}
{#								data-easing="easeOutQuad"#}
{#								data-splitin="none"#}
{#								data-splitout="none"#}
{#								data-elementdelay="0.01"#}
{#								data-endelementdelay="0.1"#}
{#								data-endspeed="1000"#}
{#								data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">#}
{#								INFORM. ADVICE. EXECUTE#}
{#							</div>#}

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								<a href="#purchase" class="btn btn-default btn-lg">
									<span>Learn More</span>
								</a>
							</div>

						</li>

						<!-- SLIDE -->
						<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 2" data-thumb="static/img/neuron_thumb.jpg">

							<img src="static/img/1x1.png" data-lazyload="static/img/neuron.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

{#							<div class="tp-caption customin ltl tp-resizeme text_white"#}
{#								data-x="center"#}
{#								data-y="180"#}
{#								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"#}
{#								data-speed="800"#}
{#								data-start="1000"#}
{#								data-easing="easeOutQuad"#}
{#								data-splitin="none"#}
{#								data-splitout="none"#}
{#								data-elementdelay="0.01"#}
{#								data-endelementdelay="0.1"#}
{#								data-endspeed="1000"#}
{#								data-endeasing="Power4.easeIn" style="z-index: 10;">#}
{#								<span class="fw-300">DEVELOPMENT / MARKETING / DESIGN / PHOTO</span>#}
{#							</div>#}

							<div class="tp-caption customin ltl tp-resizeme large_bold_white"
								data-x="center"
								data-y="230"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1200"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								INFORM. ADVICE. EXECUTE
							</div>

{#							<div class="tp-caption customin ltl tp-resizeme small_light_white"#}
{#								data-x="center"#}
{#								data-y="350"#}
{#								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"#}
{#								data-speed="800"#}
{#								data-start="1400"#}
{#								data-easing="easeOutQuad"#}
{#								data-splitin="none"#}
{#								data-splitout="none"#}
{#								data-elementdelay="0.01"#}
{#								data-endelementdelay="0.1"#}
{#								data-endspeed="1000"#}
{#								data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">#}
{#								INFORM. ADVICE. EXECUTE#}
{#							</div>#}

							<div class="tp-caption customin ltl tp-resizeme"
								data-x="center"
								data-y="438"
								data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 10;">
								<a href="#purchase" class="btn btn-default btn-lg">
									<span>Learn More</span>
								</a>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 3" data-thumb="static/img/150x99/11-min.jpg">

							<img src="static/img/1x1.png" data-lazyload="static/img/1200x800/11-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

							<div class="tp-caption very_large_text lfb ltt tp-resizeme"
								data-x="right" data-hoffset="-100"
								data-y="center" data-voffset="-100"
								data-speed="600"
								data-start="800"
								data-easing="Power4.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="500"
								data-endeasing="Power4.easeIn">
								GET MORE
							</div>

							<div class="tp-caption medium_light_white lfb ltt tp-resizeme"
								data-x="right" data-hoffset="-100"
								data-y="center" data-voffset="10"
								data-speed="600"
								data-start="900"
								data-easing="Power4.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="500"
								data-endeasing="Power4.easeIn">
								It's not how much money you make,<br/>
                                but how much money you keep,<br/>
                                how hard it works for you,<br/>
								and how many generations you keep it for.<br/>
								<span style="font-size:24px;font-weight:400;">&ndash; Arthur Ndossi</span>
							</div>

						</li>

					</ul>
				</div>
			</section>
			<!-- /REVOLUTION SLIDER -->



			<!-- Welcome -->
			<section>
				<div class="container">

					<div class="text-center">
						<h1><span>Welcome to FIMCO.</span></h1>
						<h2 class="col-sm-10 offset-sm-1 mb-0 fw-400">
                            Providing a responsive securities exchange that promotes economic empowerment and
                            contributes to the country's economic development
                        </h2>
					</div>

				</div>
			</section>
			<!-- Welcome -->



			<!-- Services -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="fa fa-tablet"></i>
									<h2>FULLY REPOSNIVE</h2>
								</a>
								<p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="et-document"></i>
									<h2>RTL SUPPORT</h2>
								</a>
								<p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="et-basket"></i>
									<h2>MOBILE COMPATIBILE</h2>
								</a>
								<p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="et-briefcase"></i>
									<h2>CLEAN CODE</h2>
								</a>
								<p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="et-megaphone"></i>
									<h2>PREMIUM SLIDERS</h2>
								</a>
								<p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#">
									<i class="et-flag"></i>
									<h2>SIMPLE TO USE</h2>
								</a>
								<p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->



			<!-- PARALLAX -->
			<section class="parallax parallax-2 pb-0">
				<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h3 class="m-0">FIMCO Inside</h3>
						<p class="font-lato fw-300 lead mt-0">We can't solve problems by using the same kind of thinking we used when we created them.</p>
					</div>


					<div class="mt-80 text-center">
						<img class="img-fluid wow fadeInUp" data-wow-delay="0.1s" src="static/img/FIMCO-slide.png" alt="" />
					</div>
				</div>

			</section>
			<!-- /PARALLAX -->



			<!-- Info -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-6 col-sm-6">
							<img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="static/img/girl_looking-min.jpg" alt="" />
						</div>

						<div class="col-md-6 col-sm-6">
							<header class="mb-60">
								<h2>FIMCO</h2>
								<p class="lead font-lato">Get current market data on exchange rates!</p>
							</header>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto reprehenderit maiores.</p>
							<p>Similique excepturi voluptates placeat ducimus delectus magnam tempore dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus.</p>

							<a class="btn btn-default btn-lg mt-30" href="#">EXPLORE FIMCO</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Info -->



			<!-- CALLOUT -->
			<div class="alert alert-transparent bordered-bottom m-0">
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-12"><!-- left text -->
							<h3>Call now at <span><strong>+255 792 000 000</strong></span> for ANY enquiries!</h3>
							<p class="font-lato fw-300 fs-20 mb-0">
								We truly care about our users and our product.
							</p>
						</div><!-- /left text -->


						<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
							<a href="#purchase" rel="nofollow" target="_blank" class="btn btn-primary btn-lg">
                                ANYTHING ELSE
                            </a>
						</div><!-- /right btn -->

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->
{% endblock %}


{% block scripts %}
    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="static/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="static/js/demo.revolution_slider.js"></script>
{% endblock %}