{% extends "base.html" %}
{% block links %}
    <!-- MASTER SLIDER -->
    <link href="/static/plugins/masterslider/style/masterslider.css" rel="stylesheet" media="screen">
    <link href="/static/plugins/masterslider/skins/default/style.css" rel="stylesheet" />
    <link href="/static/css/slider.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <!--Hero Slider-->
    <section class="hero-slider">
        <div class="master-slider" id="hero-slider">

            <!--Slide 1-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/static/plugins/masterslider/blank.gif" data-src="/static/img/rev_slider/home.jpg" alt=""/>
                <h2 style="width: 650px; left: 110px; top: 110px;" class="dark-color ms-layer"
                    data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">
                    INFORM. ADVISE.<br>EXECUTE.
                </h2>
                <h4 style="width: 350px; left: 110px; top: 250px;" class="dark-color ms-layer"
                    data-effect="right(100,true)" data-duration="700" data-delay="375" data-ease="easeOutQuad">
                    WHAT IS FIMCO?
                </h4>
                <p style="width: 450px; left: 110px; top: 300px;" class="dark-color ms-layer" data-effect="back(500)"
                   data-duration="700" data-delay="500" data-ease="easeOutQuad">
                    FIMCO is a financial investment company dedicated to helping people invest — better.
                </p>
{#                <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="left(50,true)"#}
{#                     data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#home-catalog">Goto catalog</a></div>#}

            </div>

            <!--Slide 2-->
            <div class="ms-slide" data-delay="7">
                <span class="overlay"></span>
                <img src="/static/plugins/masterslider/blank.gif" data-src="/static/img/rev_slider/inform.jpg"
                     alt="Utility Services"/>
                <h2 style="width: 550px; left: 110px; top: 110px;" class="dark-color ms-layer"
                    data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">
                    WHAT WE INFORM...
                </h2>
                <h4 style="width: 350px; left: 110px; top: 200px;" class="dark-color ms-layer"
                    data-effect="right(100,true)" data-duration="700" data-delay="375" data-ease="easeOutQuad">
                    INFORM
                </h4>
                <p style="width: 450px; left: 110px; top: 290px;" class="dark-color ms-layer"
                   data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">
                    We watch markets intently and intuitively and are able to relay relevant information to clients...
                </p>
{#                <div style="left: 110px; top: 330px;" class="ms-layer button" data-effect="left(50,true)"#}
{#                     data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#home-catalog">Go#}
{#                    to catalog</a></div>#}
            </div>

            <!--Slide 3-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/static/plugins/masterslider/blank.gif" data-src="/static/img/rev_slider/advise.jpg"
                     alt="Crescent"/>
                <h2 style="width: 550px; left: 110px; top: 110px;" class="dark-color ms-layer"
                    data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">
                    WHY WE ADVISE...
                </h2>
                <h4 style="width: 350px; left: 110px; top: 210px;" class="dark-color ms-layer"
                    data-effect="right(100,true)" data-duration="700" data-delay="375" data-ease="easeOutQuad">
                    ADVISE
                </h4>
                <p style="width: 456px; left: 110px; top: 290px;" class="dark-color ms-layer"
                   data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">
                    We navigate the complex Tanzanian financial markets so that our clients can extract long term value...
                </p>
{#                <div style="left: 110px; top: 330px;" class="ms-layer button" data-effect="left(50,true)"#}
{#                     data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#home-catalog">Go#}
{#                    to catalog</a></div>#}
            </div>

            <!--Slide 4-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/static/plugins/masterslider/blank.gif" data-src="/static/img/rev_slider/execute.jpg"
                     alt="Crescent"/>
                <h2 style="width: 550px; left: 110px; top: 110px;" class="dark-color ms-layer"
                    data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">
                    HOW WE EXECUTE...
                </h2>
                <h4 style="width: 350px; left: 110px; top: 210px;" class="dark-color ms-layer"
                    data-effect="right(100,true)" data-duration="700" data-delay="375" data-ease="easeOutQuad">
                    EXECUTE
                </h4>
                <p style="width: 456px; left: 110px; top: 290px;" class="dark-color ms-layer"
                   data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">
                    Across various asset classes we execute orders by seeking out liquidity in a transparent and
                    affordable manner...
                </p>
{#                <div style="left: 110px; top: 330px;" class="ms-layer button" data-effect="left(50,true)"#}
{#                     data-duration="500" data-delay="750" data-ease="easeOutQuad"><a class="btn btn-black" href="#home-catalog">Go#}
{#                    to catalog</a></div>#}
            </div>

        </div>
    </section>
    <!--Hero Slider Close-->

        <!-- INFO BAR -->
{#        <section class="info-bar info-bar-clean">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-sm-4">#}
{#                        <a href="{% url 'pochi' %}">#}
{#                            <i class="glyphicon glyphicon-credit-card"></i>#}
{#                            <h3>POCHI </h3>#}
{#                            <p>Smart investment <b>wallet</b></p>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="col-sm-4">#}
{#                        <a href="{% url 'pochi' %}">#}
{#                            <i class="glyphicon glyphicon-usd"></i>#}
{#                            <h3>MARKET & FINANCE NEWS</h3>#}
{#                            <p>Get the latest insights on the market and economy</p>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="col-sm-4">#}
{#                        <a href="{% url 'site' 'contact' %}">#}
{#                            <i class="glyphicon glyphicon-flag"></i>#}
{#                            <h3>ONLINE SUPPORT</h3>#}
{#                            <p>Invest in yourself, invest in your future!</p>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
    <!-- /INFO BAR -->

    <!-- WELCOME -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <header class="mb-40">
                        <h1 class="fw-300">Welcome to FIMCO</h1>
                        <blockquote>
                            <p class="fw-300 letter-spacing-1 fs-16"><i>"Little by little, a little becomes a lot"; "Haba na haba hujaza kibaba"</i></p>
                            <cite>Tanzanian proverb</cite>
                        </blockquote>
                    </header>
                    <p>Financial Investment Management Company dedicated to assisting our clients to invest more transparently, competitively and affordably.</p>
                    <p>This assistance we offer via relevant information, advisory and execution capabilities is underpinned by the deep understanding of local market dynamics and commitment to our core values of Diligence, Integrity and Innovation in all we do.</p>
                    <p><img class="hidden-lg-up float-right" src="/static/img/welcome.jpg" width="200" height="247" alt="" />We are looking to introduce local and foreign investors to the Tanzanian Financial markets opportunities, and indeed vice versa. We do so leveraging years of experience working with international banks in Tanzanian and a rich track record of engaging with clients and regulators alike.</p>
                    <p>Whether it’s to buy, sell or hold, whether it’s to invest, disinvest or hold; we work hard to give our clients sufficient confidence to make this decision across various asset classes in our financial markets in a way that creates lasting long term value for them.</p>
                    <hr />
                </div>

                <div class="hidden-md-down col-sm-6">
                    <div>
                        <img class="img-fluid" src="/static/img/welcome.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /WELCOME -->
{% endblock %}

{% block scripts %}
    <!-- MASTER SLIDER -->
    <script src="/static/plugins/masterslider.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}