{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section class="page-header page-header-xs parallax parallax-4" style="background-color:#002a54">
        <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>
        <div class="container">
            <h1 class="fs-40">Lawrence Mafuru</h1>
            <span class="font-lato fs-18 fw-300">Chairman at FIMCO</span>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row hidden-md-down">
                <div class="col-lg-6 col-centered">
                    <div class="frame">
                        <img class="img-fluid" src="/static/img/mafuru.jpg">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="callout alert alert-border">
                        <header class="text-center mb-10">
                            <h3>BIOGRAPHY</h3>
                            <p class="fw-300 fs-18 mt-10">
                                Lawrence is a seasoned Certified Chartered Banker from the Chartered Institute of Bankers
                                London and a Certified Financial Markets Dealer by ACI Financial Markets.
                                He holds an Executive MBA Finance from University of Dar es Salaam Business school.
                                His varied experience in the industry over the last 19 years includes roles as
                                Head of Treasury (NBC), CEO (NBC) and Chairman of the Tanzanian Bankers Association.
                                Lawrence has also worked on the public side extensively as the Treasury Registrar at the
                                ministry of finance and also for the Presidential Delivery Bureau as Director of resource mobilisation.
                                A noticeable figure and sought after speaker on matters related to banking and finance,
                                public and private, Lawrence brings to Bankable his vast experience and expertise to achieving
                                our mission and vision. Lawrence is passionate about driving client value through shared insights.
                            </p>
                        </header>

                        <hr class="mb-100" />
                    </div>
                </div>
            </div>
            <div class="row hidden-lg-up">
                <div class="col-md-12">
                    <img class="float-left hidden-xs-down" src="/static/img/mafuru.jpg" height="367" width="275" alt="" />
                    <img class="float-left hidden-sm-up" src="/static/img/mafuru.jpg" height="147" width="110" alt="" />
                    <div class="heading-title">
                        <h2>BIOGRAPHY</h2>
                    </div>
                    <p class="fw-300 fs-18 mt-10">
                        Lawrence is a seasoned Certified Chartered Banker from the Chartered Institute of Bankers
                        London and a Certified Financial Markets Dealer by ACI Financial Markets.
                        He holds an Executive MBA Finance from University of Dar es Salaam Business school.
                        His varied experience in the industry over the last 19 years includes roles as
                        Head of Treasury (NBC), CEO (NBC) and Chairman of the Tanzanian Bankers Association.
                        Lawrence has also worked on the public side extensively as the Treasury Registrar at the
                        ministry of finance and also for the Presidential Delivery Bureau as Director of resource mobilisation.
                        A noticeable figure and sought after speaker on matters related to banking and finance,
                        public and private, Lawrence brings to Bankable his vast experience and expertise to achieving
                        our mission and vision. Lawrence is passionate about driving client value through shared insights.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}