{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
{% endblock %}
{% block content %}
    <!-- -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    {% if messages %}
                        {% for message in messages %}
                            <!-- ALERT -->
                            <div class="alert alert-mini alert-danger mb-30">
                                <strong>{{ message }}</strong> Please try again.
                            </div>
                            <!-- /ALERT -->
                        {% endfor %}
                    {% endif %}
                    {% if next %}
                        <!-- ALERT -->
                        <div class="alert alert-mini alert-danger mb-30">
                            <p>You need to login to view this page else create an account in the link below.</p>
                        </div>
                        <!-- /ALERT -->
                    {% endif %}
                    <div class="box-static box-border-top p-30">
                        <div class="box-title mb-30">
                            <h2 class="fs-20">I'm already a member</h2>
                        </div>
                        {% if next %}
                        <form class="sky-form" method="post" action="/login/?next={{next}}" autocomplete="off">
                        {% else %}
                        <form class="sky-form" method="post" action="{% url 'validate' %}" autocomplete="off">
                        {% endif %}
                            <div class="clearfix">
                                <!-- Phone -->
                                <label>Phone</label>
                                <label class="input mb-10">
                                    <i class="ico-append fa fa-phone"></i>
                                    {{ lForm.phone }}
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                </label>
                                <!-- Password -->
                                <label>Password</label>
                                <label class="input mb-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ lForm.password }}
                                    <b class="tooltip tooltip-bottom-right">Type your account password</b>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <!-- Inform Tip -->
                                    <div class="form-tip pt-20">
                                        <a class="no-text-decoration fs-13 mt-10 block" href="#">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <button class="btn btn-primary" type="submit">OK, LOG IN</button>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                    <p>By signing in to FIMCO you are confirming that you have read and understood our
                        <a id="terms" data-toggle="modal" data-target="#termsModal">terms and conditions</a>.
                    </p>
                    <div class="mt-30 text-center">
                        <a href="{% url 'account' %}"><strong>Create Account{{ next }}</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / -->
    {% include 'modals.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}