{% extends "base.html" %}

{% block links %}
    <style>
        h1 {
            color: white;
        }
        #home {
            background:url('/static/img/rs5/fimcobanner3.jpg')
        }
    </style>
{% endblock %}

{% block content %}
    <section id="home" class="h-450">
        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">
                <div class="container text-center">
{#                    <h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Market Information</h1>#}
                    <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s" style="color: white">
                        Get the latest info in stocks.
                    </p>
                    <div class="mt-30">
                        <a href="" class="btn btn-3d btn-lg btn-primary">
                            <i class="glyphicon glyphicon-th-large"></i>FREE TRIAL
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /HOME -->

    <section id="description">
        <div class="container">
            <h2 class="fs-25">What does FIMCO offer?</h2>
            <p class="lead">
                We offer clients access to market prices as they develop throughout the trading across Forex, Stocks,
                interest rates and Macro data.
            </p>
            <p class="lead">
                Access to market information includes historical data and is a powerful in the hands of investors to drive
                their investment decisions. We offer a free limited view of market information as well as fee based service
                for individuals and corporates that covers more data and more historical analysis.
            </p>
            <p class="lead">
                Access our platform by registering for a POCHI account and choosing market information.
            </p>
        </div>
    </section>

    <!-- FEATURES -->
    <section id="features">
        <div class="container">
            <header class="text-center mb-60">
                <h2>Our Features</h2>
                <p class="lead font-lato">Lorem ipsum dolor sit amet adipiscium elit</p>
                <hr />
            </header>
            <!-- FEATURED BOXES 3 -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
                        <h4>Pixel Perfect</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
                        <h4>Graphs</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i>
                        <h4>Startegy</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>
                        <h4>SEO Optimized</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                    </div>
                </div>
            </div>
            <!-- /FEATURED BOXES 3 -->

            <!-- FEATURED BOXES 3 -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-trophy"></i>
                        <h4>Winners</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-gears"></i>
                        <h4>Responsive</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-tools"></i>
                        <h4>Costomizable</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <i class="ico-light ico-lg ico-rounded ico-hover et-layers"></i>
                        <h4>Easy to Modify</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                    </div>
                </div>
            </div>
            <!-- /FEATURED BOXES 3 -->
        </div>
    </section>
    <!-- /FEATURES -->

    <!-- PRICING -->
    <section id="pricing">
        <div class="container">
            <header class="text-center mb-60">
                <h2>Our Pricing</h2>
                <p class="lead font-lato">Lorem ipsum dolor sit amet adipiscium elit</p>
                <hr />
            </header>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="price-clean">
                        <h4>
                            <sup>TZS</sup>15,000<em>/month</em>
                        </h4>
                        <h5> STANDARD </h5>
                        <hr />
                        <p>For individuals looking for something simple to get started.</p>
                        <hr />
                        <a href="" class="btn btn-3d btn-lg btn-red">
                            SUBSCRIBE
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="price-clean price-clean-popular">
                        <div class="ribbon">
                            <div class="ribbon-inner">POPULAR</div>
                        </div>
                        <h4>
                            <sup>TZS</sup>25,000<em>/month</em>
                        </h4>
                        <h5> PROFESSIONAL </h5>
                        <hr />
                        <p>For individuals looking for something simple to get started.</p>
                        <hr />
                        <a href="" class="btn btn-3d btn-lg btn-red">
                            SUBSCRIBE
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="price-clean">
                        <h4>
                            <sup>TZS</sup>40,000<em>/month</em>
                        </h4>
                        <h5> BUSINESS </h5>
                        <hr />
                        <p>For individuals looking for something simple to get started.</p>
                        <hr />
                        <a href="" class="btn btn-3d btn-lg btn-red">
                            SUBSCRIBE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PRICING -->

    <!-- TESTIMONIALS -->
    <section id="testimonials" class="alternate">
        <div class="container">
            <header class="text-center mb-60">
                <h2>Testimonials</h2>
                <p class="lead font-lato">Lorem ipsum dolor sit amet adipiscium elit</p>
                <hr />
            </header>

{#            <div class="row mb-60">#}
{#                <div class="col-md-4">#}
{#                    <div class="testimonial testimonial-bordered p-15">#}
{#                        <figure class="float-left">#}
{#                            <img class="rounded" src="/static/img/300x300/1-min.jpg" alt="" />#}
{#                        </figure>#}
{#                        <div class="testimonial-content">#}
{#                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>#}
{#                            <cite>#}
{#                                Felicia Doe#}
{#                                <span>Company Ltd.</span>#}
{#                            </cite>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="testimonial testimonial-bordered p-15">#}
{#                        <figure class="float-left">#}
{#                            <img class="rounded" src="/static/img/300x300/2-min.jpg" alt="" />#}
{#                        </figure>#}
{#                        <div class="testimonial-content">#}
{#                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>#}
{#                            <cite>#}
{#                                Joana Doe#}
{#                                <span>Company Ltd.</span>#}
{#                            </cite>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="testimonial testimonial-bordered p-15">#}
{#                        <figure class="float-left">#}
{#                            <img class="rounded" src="/static/img/300x300/3-min.jpg" alt="" />#}
{#                        </figure>#}
{#                        <div class="testimonial-content">#}
{#                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>#}
{#                            <cite>#}
{#                                Melissa Doe#}
{#                                <span>Company Ltd.</span>#}
{#                            </cite>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <ul class="row clearfix testimonial-dotted list-unstyled">
                <li class="col-md-4">
                    <div class="testimonial">
                        <figure class="float-left">
                            <img class="rounded" src="/static/img/300x300/1-min.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <cite>
                                Joana Doe
                                <span>Company Ltd.</span>
                            </cite>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="testimonial">
                        <figure class="float-left">
                            <img class="rounded" src="/static/img/300x300/2-min.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <cite>
                                Melissa Doe
                                <span>Company Ltd.</span>
                            </cite>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="testimonial">
                        <figure class="float-left">
                            <img class="rounded" src="/static/img/300x300/3-min.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <cite>
                                Stephany Doe
                                <span>Company Ltd.</span>
                            </cite>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="testimonial">
                        <figure class="float-left">
                            <img class="rounded" src="/static/img/300x300/1-min.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <cite>
                                Pamela Doe
                                <span>Company Ltd.</span>
                            </cite>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="testimonial">
                        <figure class="float-left">
                            <img class="rounded" src="/static/img/300x300/2-min.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <cite>
                                Simina Doe
                                <span>Company Ltd.</span>
                            </cite>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="testimonial">
                        <figure class="float-left">
                            <img class="rounded" src="/static/img/300x300/3-min.jpg" alt="" />
                        </figure>
                        <div class="testimonial-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <cite>
                                Mihaela Doe
                                <span>Company Ltd.</span>
                            </cite>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}