{% extends 'base.html' %}
{% block links %}
{% endblock %}
{% block content %}
    <!-- REGISTER -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-6 col-centered">
                    <div class="card card-default">
                        <div class="card-block">
                            <h4>Congratulations! <strong></strong></h4>
                            <p>
                                Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}