{% extends 'base.html' %}
{% block links %}
{% endblock %}
{% block content %}
    <!-- REGISTER -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-6 col-centered">
                    <div class="card card-default">
                        <div class="card-block">
                            {% if validlink %}
                                <form method="POST" action="{% url 'password_reset_complete' %}">
                                    <legend>Set your new password</legend>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label" for="id_password">New Password</label>
                                        <div>
                                            {{ form.new_password1 }}
                                            {% if form.new_password1.errors %}
                                                {% for error in form.new_password1.errors %}
                                                    <div class="alert alert-mini alert-danger mb-30">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="id_verify">New Password (again)</label>
                                        <div>
                                            {{ form.new_password2 }}
                                            {% if form.new_password2.errors %}
                                                {% for error in form.new_password2.errors %}
                                                    <div class="alert alert-mini alert-danger mb-30">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary float-right">Save</button>
                                </form>
                            {% else %}
                                <p>
                                    The password reset link was invalid, possibly because it has already been used.
                                    Please request a new password reset.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}