{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
                    <img class="float-left" src="/static/img/POCHI.png" alt="" />
                    <div class="heading-title">
                        <h2>It's simple transparent & Competitive</h2>
                    </div>
                    <p> A solution that offers savers the ability to access competitive rates whilst having access to their cash.
                        POCHI rates will beat the average interest rate provided by bank accounts. Ut elit metus, quis consectetuer
                        congue augue quis erat. Quisque pretium eu, aliquam odio. Donec a pellentesque consectetuer, augue nec odio.
                        Nam accumsan at, porttitor sem at porttitor laoreet viverra mattis. Aliquam ultricies accumsan.
                    </p>
                    <p> POCHI will keep your principal burning whilst you enjoy the monthly interest into your wallet
                        (or designated wallet). Suspendisse congue odio at purus. Quisque eu justo. Quisque eu eros.
                        Sed accumsan dictum, laoreet sit amet ante. Curabitur ultrices iaculis. In gravida eros in consequat diam.
                        Donec nonummy, tellus in lorem lorem pretium magna. In hac habitasse platea dictumst.
                        Suspendisse elit eu scelerisque a, gravida vel, purus. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos hymenaeos.
                    </p>
                    <blockquote>
                        <p>"Spare the seed, devour the fruit"; "Usile mbegu, kula tunda"</p>
                        <cite>Anonymous</cite>
                    </blockquote>
                    <div class="col-md-3">
                        <a class="tp-caption WebProduct-Button"
                            href="{% url 'pochi' %}"
                            data-x="['left','left','left','left']" data-hoffset="['30','30','200','79']"
                            data-y="['middle','middle','top','top']" data-voffset="['268','268','456','430']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;"
                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                            data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(0, 42, 84, 1.00);"

                            data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                            data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                            data-start="1750"
                            data-splitin="none"
                            data-splitout="none"
                            data-actions=''
                            data-responsive_offset="on"
                            data-responsive="off"

                            style="z-index: 9; white-space: nowrap;letter-spacing:1px;">GO TO POCHI
                        </a>
                    </div>
                </div>
                <!-- /LEFT -->

                <!-- RIGHT -->
                <div class="col-md-3">

                    <div class="box-static box-border-top mb-60">
                        <div class="box-title">
                            <h4>Why deal with us</h4>
                        </div>
                        <ul class="list-unstyled list-icons p-15 pb-0">
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Choice</span>
                                <small>Whatever your needs, experience and appetite for risk, we have an investment opportunity to suit you</small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Expertise</span>
                                <small>We combine financial expertise with ground-breaking technology to make investing smarter and easier</small>
                            </li>
                            <li class="mb-20">
                                <i class="fa fa-check text-success fs-18"></i>
                                <span class="block bold fs-18">Simplicity</span>
                                <small>Our investment platforms are designed to be simple and intuitive, our language clear and straightforward</small>
                            </li>
                        </ul>
                        <hr />
                    </div>
                    <hr />
                    <!-- SOCIAL ICONS -->
                    <div class="hidden-xs-down text-center">
                        <a href="#" class="social-icon social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- /RIGHT -->
            </div>
        </div>
    </section>
{% endblock %}