{% extends "base.html" %}

{% block links %}
{#    <link href="static/css/profile.css" rel="stylesheet" type="text/css"/>#}
{% endblock %}

{% block content %}
    <!-- EDIT PROFILE -->
    <section>
        <form class="validate" action="" method="post" enctype="multipart/form-data"
              data-success="Profile updated!" data-toastr-position="top-right">
            <div class="container">
                <div id="content" class="padding-20">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-transparent text-center">
                                    <strong>Personal Information</strong>
                                </div>
                                <hr>
                                <div class="panel-body">
                                    <fieldset>
                                        <!-- required [php action request] -->
                                        <input type="hidden" name="action" value="contact_send"/>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <label>First Name *</label>
                                                {{ pForm.fName }}
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <label>Last Name *</label>
                                                {{ pForm.lName }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <label>Email *</label>
                                                {{ pForm.email }}
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <label>Phone *</label>
                                                {{ pForm.phone }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <label>Gender *</label>
                                                {{ pForm.gender }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <label>Date of Birth *</label>
                                                {{ pForm.dob }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>
                                                    Upload your Avatar
                                                    <small class="text-muted">(optional)</small>
                                                </label>
                                                <!-- custom file upload -->
                                                <div class="fancy-file-upload fancy-file-primary">
                                                    <i class="fa fa-upload"></i>
                                                    {{ pForm.avatar }}
                                                    <input type="text" class="form-control"
                                                           placeholder="no file selected" readonly=""/>
                                                    <span class="button">Choose File</span>
                                                </div>
                                                <small class="text-muted block">Max file size: 10Mb</small>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <fieldset>
                                        <h4 class="text-center">Account Information</h4>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <label>Change ID type
                                                </label>
                                                {{ pForm.id_choice }}
                                            </div>
                                            <div class="col-md-6 col-sm-6" id="client_input">
                                                <label>Client ID
                                                    <small>(required)</small>
                                                </label>
                                                {{ pForm.id_number }}
{#                                                {% if pForm.id_number.errors %}#}
{#                                                    {% for error in pForm.id_number.errors %}#}
{#                                                        <div class="alert alert-mini alert-danger mb-30">#}
{#                                                            <strong>{{ error|escape }}</strong>#}
{#                                                        </div>#}
{#                                                    {% endfor %}#}
{#                                                {% endif %}#}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <label>
                                                    Change your ID
                                                </label>
                                                <!-- custom file upload -->
                                                <div class="fancy-file-upload fancy-file-primary">
                                                    <i class="fa fa-upload"></i>
                                                    {{ pForm.id }}
                                                    <input type="text" class="form-control"
                                                           placeholder="no file selected" readonly=""/>
                                                    <span class="button">Choose File</span>
                                                </div>
                                                <small class="text-muted block">Max file size: 10Mb</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <label for="register:bot">BOT CDS Account
                                                    <small>(optional)</small>
                                                </label>
                                                {{ pForm.bot_account }}
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <label for="register:dse">DSE CDS Account
                                                    <small>(optional)</small>
                                                </label>
                                                {{ pForm.dse_account }}
                                            </div>
                                        </div>
                                        <hr/>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit"
                                                    class="btn btn-3d btn-primary btn-lg btn-block margin-top-30">
                                                UPDATE PROFILE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}