{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/reg.css" />
{% endblock %}
{% block content %}
    <!-- REGISTER -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
                    {% if rForm.errors %}
                        <!-- ALERT -->
                        <div class="alert alert-mini alert-danger mb-30">
                            <strong>Oh snap!</strong> Password do not match!
                        </div>
                        <!-- /ALERT -->
                    {% endif %}
                    <div class="box-static box-transparent box-bordered p-30">
                        <div class="box-title mb-30">
                            <h2 class="fs-20">Don't have an account yet?</h2>
                        </div>
                        <form class="m-0 sky-form" action="#" method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <fieldset id="one">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>First Name <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-user"></i>
                                            {{ rForm.fName }}
                                            <b class="tooltip tooltip-bottom-right">Your First Name</b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:last_name">Last Name <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-user"></i>
                                            {{ rForm.lName }}
                                            <b class="tooltip tooltip-bottom-right">Your Last Name</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:dob">Date of Birth <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-calendar"></i>
                                            {{ rForm.dob }}
                                            <b class="tooltip tooltip-bottom-right">Date of Birth</b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:gender">Gender <small>(required)</small></label>
                                        <label class="select mb-10 mt-20">
                                            {{ rForm.gender }}
                                            <i class="ico-append fa fa-venus-mars"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="register:email">Email <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-envelope"></i>
                                            {{ rForm.email }}
                                            <b class="tooltip tooltip-bottom-right">Your Email</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:phone">Phone <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-phone"></i>
                                            {{ rForm.phone }}
                                            <b class="tooltip tooltip-bottom-right">Your Phone (optional)</b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:dp">Profile picture <small>(required)</small></label>
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="/static/img/default-avatar.jpg" class="picture-src" id="wizardPicturePreview" />
                                                {{ rForm.image }}
                                            </div>
                                            <h6>Choose Picture</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:pass1">Password <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-lock"></i>
                                            {{ rForm.password }}
                                            <b class="tooltip tooltip-bottom-right">Min. 6 characters</b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:pass2">Password Again <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-lock"></i>
                                            {{ rForm.verify }}
                                            <b class="tooltip tooltip-bottom-right">Type the password again</b>
                                        </label>
                                    </div>
                                </div>
                                <hr />
                            </fieldset>
                            <fieldset id="two">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Select ID type <small>(required)</small></label>
                                        <label class="select mb-10 mt-20">
                                            <i class="ico-append fa fa-id-card"></i>
                                            {{ rForm.id_choice }}
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6" id="client_input">
                                        <label for="register:id">Client ID <small>(required)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-id-card-o"></i>
                                            {{ rForm.client_id }}
                                            <b class="tooltip tooltip-bottom-right">Enter your ID</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="picture-container">
                                            <div class="sqr-picture">
                                                <img src="/static/img/images.png" class="picture-src" id="wizardFilePreview" />
                                                {{ rForm.scanned_id }}
                                            </div>
                                            <h6>Select your ID</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:bot">BOT CDS Account <small>(optional)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-briefcase"></i>
                                            {{ rForm.bot_cds }}
                                            <b class="tooltip tooltip-bottom-right">Enter your account no.</b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:dse">DSE CDS Account <small>(optional)</small></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-briefcase"></i>
                                            {{ rForm.bot_cds }}
                                            <b class="tooltip tooltip-bottom-right">Enter your account no.</b>
                                        </label>
                                    </div>
                                </div>
                                <hr />
                                <label class="checkbox m-0"><input class="checked-agree" type="checkbox" name="checkbox"><i></i>I agree to the <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Service</a></label>
                                <label class="checkbox m-0"><input type="checkbox" name="checkbox"><i></i>Subscribe to newsletter</label>
                            </fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="prev" class="btn btn-primary float-left">
                                        <i class="fa fa-arrow-left"></i> PREVIOUS
                                    </button>
                                    <button id="next" class="btn btn-primary float-left">
                                        <i class="fa fa-arrow-right float-right"></i> NEXT
                                    </button>
                                    <button type="submit" id="finish" class="btn btn-primary float-right">
                                        <i class="fa fa-check"></i> REGISTER
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /REGISTER -->

{#            <div class="col-sm-4">#}
{#                <label for="dob">#}
{#                    Date of Birth#}
{#                    <span>*</span>#}
{#                </label>#}
{#                <div class="input-group date"#}
{#                     data-provide="datepicker"#}
{#                     data-date-start-date="01/01/1900"#}
{#                     data-date-autoclose="true"#}
{#                     data-date-start-view="decade"#}
{#                     data-date-format="dd/mm/yyyy">#}
{#                    {{form.dob}}#}
{#                    {% if form.dob.errors %}#}
{#                      {% for error in form.dob.errors %}#}
{#                      <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>#}
{#                      {% endfor %}#}
{#                    {% endif %}#}
{#                    <div class="input-group-addon">#}
{#                        <span class="glyphicon glyphicon-th"></span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

    {% include 'modals.html' %}
{% endblock %}

{% block scripts %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>#}
{#    <script src="/web/static/js/jquery.caret.js"></script>#}
{#    <script src="/web/static/js/jquery.mobilePhoneNumber.js"></script>#}
    <script src="/static/js/registration.js"></script>
{% endblock %}