{% extends "base.html" %}

{% block links %}
    <link href="/static/css/about.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <section class="page-header page-header-xs parallax parallax-4" style="background-color:#002a54">
        <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>
        <div class="container">
            <h1 class="fs-40">Sameer Hirji</h1>
            <span class="font-lato fs-18 fw-300">Director at FIMCO</span>
        </div>
    </section>

{#    <section class="page-header page-header-2xlg parallax parallax-4" style="background-image:url('/static/img/sameer.jpg')">#}
{#        <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>#}
{#        <div class="container">#}
{#            <h1 class="fs-40">Sameer Hirji</h1>#}
{#            <span class="font-lato fs-18 fw-300">Director</span>#}
{#        </div>#}
{#    </section>#}

{#    <div class="callout callout-dark">#}
{#        <div class="container">#}
{##}
{#            <div class="row">#}
{##}
{#                <div class="col-md-9 col-sm-12"><!-- left text -->#}
{#                    <h3>Director at FIMCO</h3>#}
{#                    <p class="font-lato fw-300 fs-20 mb-0">#}
{#                        Selcom Group Executive Director#}
{#                    </p>#}
{#                </div><!-- /left text -->#}
{##}
{##}
{#                <div class="col-md-3 col-sm-12 text-right"><!-- right btn -->#}
{#                    <div class="mt-10">#}
{#                        <a href="#" class="social-icon social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">#}
{#                            <i class="icon-facebook"></i>#}
{#                            <i class="icon-facebook"></i>#}
{#                        </a>#}
{##}
{#                        <a href="#" class="social-icon social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">#}
{#                            <i class="icon-twitter"></i>#}
{#                            <i class="icon-twitter"></i>#}
{#                        </a>#}
{##}
{#                        <a href="#" class="social-icon social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">#}
{#                            <i class="icon-gplus"></i>#}
{#                            <i class="icon-gplus"></i>#}
{#                        </a>#}
{##}
{#                        <a href="#" class="social-icon social-icon-border social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">#}
{#                            <i class="icon-linkedin"></i>#}
{#                            <i class="icon-linkedin"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div><!-- /right btn -->#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
    <!-- /CALLOUT -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered">
{#                    <div class="card card-default">#}
{#                        <div class="card-block">#}
{#                            <img class="img-fluid" src="/static/img/sameer.jpg">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="frame">
                        <img class="img-fluid" src="/static/img/sameer.jpg">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="callout alert alert-border">
                        <header class="text-center mb-10">
                            <h3>BIOGRAPHY</h3>
                            <p class="fw-300 fs-18 mt-10">
                                Sameer co-founded Selcom Tanzania and is currently a Group Executive Director.
                                He holds a Bachelor of Science in Computer Engineering. He worked in the telecommunications
                                sector in the Tanzanian market before embarking on a revolutionary journey into the fin-tech sphere.
                                Under Mr.Hirji’s leadership, Selcom is recognized by the Bank of Tanzania as the leading
                                enabler of mobile banking and bill payment services in the country.
                                As a pioneering member of the fin-tech industry, Selcom is extremely well-placed to promote
                                the advancement of cashless solutions through the creation of innovative solutions in
                                collaboration with various stakeholders."
                            </p>
                        </header>

                        <hr class="mb-100" />
                    </div>
                </div>
            </div>
{#            <br>#}
{#            <div class="row">#}
{#                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered">#}
{#                    <div class="callout alert alert-border">#}
{#                        <header class="text-center mb-10">#}
{#                            <h3>BIOGRAPHY</h3>#}
{#                            <p class="fw-300 fs-18 mt-10">#}
{#                                Sameer co-founded Selcom Tanzania and is currently a Group Executive Director.#}
{#                                He holds a Bachelor of Science in Computer Engineering. He worked in the telecommunications#}
{#                                sector in the Tanzanian market before embarking on a revolutionary journey into the fin-tech sphere.#}
{#                                Under Mr.Hirji’s leadership, Selcom is recognized by the Bank of Tanzania as the leading#}
{#                                enabler of mobile banking and bill payment services in the country.#}
{#                                As a pioneering member of the fin-tech industry, Selcom is extremely well-placed to promote#}
{#                                the advancement of cashless solutions through the creation of innovative solutions in#}
{#                                collaboration with various stakeholders."#}
{#                            </p>#}
{#                        </header>#}
{##}
{#                        <hr class="mb-100" />#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>
{% endblock %}