{% extends "base.html" %}
{% block content %}
<!--
				PAGE HEADER

				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs">
				<div class="container">

					<h1>SERVICES</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Pages</a></li>
						<li class="active">Services</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">

					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

					<div class="divider divider-center divider-color"><!-- divider -->
						<i class="fa fa-chevron-down"></i>
					</div>

					<!-- BORN TO BE A WINNER -->
					<article class="row">
						<div class="col-md-6">
							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/18-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/17-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/3-min.jpg" alt="">
								</div>
								<div>
									<img class="img-fluid" src="demo_files/images/mockups/800x553/2-min.jpg" alt="">
								</div>
							</div>
							<!-- /OWL SLIDER -->
						</div>
						<div class="col-md-6">
							<h3>FIMCO : Five Areas of Expertise</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>

							<p>Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

                            <p>Enim ipsam voluptatem quia voluptas sit eos qui ratione voluptatem sequi nesciunt.</p>
						</div>
					</article>
					<!-- /BORN TO BE A WINNER -->

				</div>
			</section>
			<!-- / -->

			<!-- -->
			<section>
				<div class="container">

					<h2 class="fs-25">What else FIMCO can offer?</h2>

					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

					<div class="mt-60">
						<ul class="nav nav-tabs nav-clean">
							<li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Architecture</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Web Design</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Video Editing</a></li>
						</ul>

						<div class="tab-content">
							<div id="tab1" class="tab-pane active">
								<img class="float-left" src="demo_files/images/mockups/600x399/11-min.jpg" width="200" alt="" />
								<p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.<p>
							</div>
							<div id="tab2" class="tab-pane fade">
								<img class="float-right" src="demo_files/images/mockups/600x399/18-min.jpg" width="200" alt="" />
								<p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.<p>
							</div>
							<div id="tab3" class="tab-pane fade">
								<p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.<p>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- / -->




			<!-- -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-md-6">
							<h3 class="fs-20">Why chose us?</h3>
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> Fully pellentesque neque eget diam posuere porta.</li>
								<li><i class="fa fa-check"></i> Awesome est laborum dolo rumes fugats untras</li>
								<li><i class="fa fa-check"></i> Excellent etha rums ser quidem rerum onis fugats vitaes  sadips amets.</li>
								<li><i class="fa fa-check"></i> Multiple blanditiis consequatur quas laborum dolo rumes </li>
								<li><i class="fa fa-check"></i> Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam.</li>
							</ul>
						</div>

						<div class="col-md-6">
							<h3 class="fs-20 text-center">What do FIMCO clients say?</h3>
							<!--
								Note: remove class="rounded" from the img for squared image!
							-->
							<ul class="row clearfix testimonial-dotted list-unstyled">
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="float-left">
											<img class="rounded" src="demo_files/images/people/300x300/2-min.jpg" alt="" />
										</figure>
										<div class="testimonial-content">
											<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam!</p>
											<cite>
												Rosario Arun
												<span>Selcom TZ.</span>
											</cite>
										</div>
									</div>
								</li>
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="float-left">
											<img class="rounded" src="demo_files/images/people/300x300/6-min.jpg" alt="" />
										</figure>
										<div class="testimonial-content">
											<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam!</p>
											<cite>
												Anna Mghwira
												<span>ACT MAendeleo</span>
											</cite>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- / -->




			<!--
			CALLOUT

			FULLWIDTH: OUTSIDE OF <section>

				Available Classes:
				alert-default
				alert-info
				alert-warning
				alert-danger
				alert-success
				alert-dark
			-->

			<div class="callout alert alert-transparent b-0 rad-0 m-0">

				<div class="text-center">

					<h3>Call now at <span><strong>+255 792 000 000</strong></span> or let's chat below!</h3>
					<p class="font-lato fs-20">
						We truly care about your opinion as our most valued customer.
					</p>

					<a href="page-contact-1.html" class="btn btn-primary btn-lg mt-30">CONTACT US NOW</a>

				</div>

			</div>
			<!-- /CALLOUT -->
{% endblock %}

{% block scripts %}
    <script src="static/js/main.js"></script>
{% endblock %}