{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/reg.css" />
{% endblock %}
{% block content %}
    <!-- REGISTER -->
    <section>
        <div class="container">
            <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div class="col-xs-12 col-centered">
                        <div class="alert alert-success mb-30">
                            <h4>Congratulations! <strong>Registration successful!</strong></h4>
                            <p>{{ message }}</p>
                            <a href="{% url 'index' %}" class="btn btn-success btn-sm mt-10">OK</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-default">
                        <div class="card-heading card-heading-transparent"></div>
                        <div class="card-block">
                            <div class="tab-content mt-60"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/static/js/registration.js"></script>
{% endblock %}