<!-- Top Bar -->
<div id="topBar" class="dark">
    <div class="container">
        <!-- right -->
        <ul class="top-links list-inline float-right">
            <li><a class="active">NEW CLIENTS</a></li>
            <li><a class="">EXISTING CLIENTS</a></li>
            <li class="hidden-xs-down" id="login"><a href="{% url 'login' %}">LOGIN</a></li>
            <li class="hidden-xs-down" id="invest"><a href="{% url 'invest' %}">INVEST NOW</a></li>
            <li>
                <a class="no-text-underline" href="#"><img class="flag-lang" src="static/img/flags/tz.png" width="16" height="11" alt="lang" /> SWAHILI</a>
            </li>
            <li>
                <a class="no-text-underline" href="#"><img class="flag-lang" src="static/img/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
            </li>
        </ul>
    </div>
</div>
<!-- /Top Bar -->