div.heading-title.heading-border-bottom {
  border-bottom: #002A54 2px solid;
}

.parallax-2 {
  background-image: url('/static/img/wall3-min.jpg');
}

a .WebProduct-Button, .tp-caption.WebProduct-Button {
  padding: 12px 35px;
}