/*      light colors         */
/*           Font Smoothing      */
.card h1, .card .h1, .card h2, .card .h2, .card h3, .card .h3, .card h4, .card .h4, .card h5, .card .h5, .card h6, .card .h6, .card p, .card .navbar, .card .brand, .card .btn, .card a, .card .td-name, .card td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Playfair Display","Raleway","Helvetica Neue",Arial,sans-serif;
}
.card p {
  font-size: 16px;
  line-height: 1.3;
  font-family: "Raleway","Helvetica","Arial", sans-serif;
}
.card .category,
.card .label,
.card .title-modern,
.card .btn-modern,
.card .price h4 {
  font-family: "Raleway","Helvetica","Arial", sans-serif;
}

/*     General overwrite     */
body {
  font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
  background-color: #cccccc;
}

a {
  color: #2CA8FF;
}
a:hover, a:focus {
  color: #109CFF;
  text-decoration: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

.ui-slider-handle:focus,
.navbar-toggle {
  outline: 0 !important;
}
.margin-top {
  margin-top: 50px;
}

.btn-center {
  text-align: center;
}

.btn {
  border-width: 1px;
  background-color: transparent;
  font-weight: 400;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 8px 16px;
  border-color: #888888;
  color: #888888;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle {
  background-color: transparent;
  color: #777777;
  border-color: #777777;
}
.btn.btn-fill {
  color: #FFFFFF;
  background-color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn.btn-fill:hover, .btn.btn-fill:focus, .btn.btn-fill:active, .btn.btn-fill.active, .open > .btn.btn-fill.dropdown-toggle {
  background-color: #777777;
  color: #FFFFFF;
}
.btn.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn .caret {
  border-top-color: #888888;
}
.btn:hover, .btn:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  outline: 0 !important;
}
.btn:active, .btn.active, .open > .btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.btn.btn-icon {
  padding: 8px;
}
.btn-danger {
  border-color: #FF3B30;
  color: #FF3B30;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-color: transparent;
  color: #EE2D20;
  border-color: #EE2D20;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: transparent;
  border-color: #FF3B30;
}
.btn-danger.btn-fill {
  color: #FFFFFF;
  background-color: #FF3B30;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open > .btn-danger.btn-fill.dropdown-toggle {
  background-color: #EE2D20;
  color: #FFFFFF;
}
.btn-danger.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-danger .caret {
  border-top-color: #FF3B30;
}
.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 9px 18px;
}
.btn-round.btn-icon {
  padding: 9px;
}

.btn-lg {
  font-size: 18px;
  border-radius: 6px;
  padding: 14px 30px;
  font-weight: 400;
}
.btn-lg.btn-round {
  padding: 15px 30px;
}
.btn-lg.btn-simple {
  padding: 16px 30px;
}

.btn-sm {
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 10px;
}
.btn-sm.btn-round {
  padding: 6px 10px;
}
.btn-sm.btn-simple {
  padding: 7px 10px;
}

.btn-xs {
  font-size: 12px;
  border-radius: 6px;
  padding: 1px 5px;
}
.btn-xs.btn-round {
  padding: 2px 5px;
}
.btn-xs.btn-simple {
  padding: 3px 5px;
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}
.card {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  width: 80%;
  height: 400px;
}
.card .title,
.card .stats,
.card .category,
.card .description,
.card .social-line,
.card .actions,
.card .content,
.card .footer,
.card small,
.card a {
  position: relative;
  z-index: 3;
}
.card a {
  color: #444444;
}
.card a:hover, .card a:focus {
  color: #333333;
}
.card[data-radius="none"] {
  border-radius: 0px;
}
.card[data-radius="none"] .header {
  border-radius: 0px 0px 0 0;
}
.card[data-radius="none"] .header img {
  border-radius: 0px 0px 0 0;
}
.card.card-plain {
  box-shadow: none;
}
.card .btn {
  text-shadow: none;
  font-weight: bold;
}
.card .title-uppercase {
  text-transform: uppercase;
}
.card .header {
  position: relative;
  border-radius: 6px 6px 0 0;
  height: 200px;
  z-index: 3;
}
.card .header img {
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
}
.card .header .category {
  padding: 15px;
}
.card .header .social-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  display: block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.card .header .social-line .btn,
.card .header .social-line a {
  font-family: "Roboto","Helvetica","Arial", sans-serif;
  font-weight: 400;
}
.card .header .social-line.social-line-visible {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .content .price {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin: 50px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
.card .content .price h4 {
  margin: 5px 0 0;
  font-size: 36px;
}
.card .content .price h6 {
  margin-top: 45px;
  font-size: 16px;
}
.card .content .price .currency {
  font-size: 22px;
  font-weight: normal;
}
.card .actions {
  padding: 10px 15px;
}
.card .social-line .btn {
  float: left;
  display: block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.card .social-line .btn-social {
  border: 1px solid #EEEEEE;
  border-radius: 0;
  border-left: 0;
  background-color: #FFFFFF;
  padding: 12px 4px;
}
.card .social-line .btn-social:last-child {
  border-right: 0;
}
.card .social-line[data-buttons="5"] .btn {
  width: 20%;
}
.card .social-line[data-buttons="4"] .btn {
  width: 25%;
}
.card .social-line[data-buttons="3"] .btn {
  width: 33.3333333%;
}
.card .social-line[data-buttons="2"] .btn {
  width: 50%;
}
.card .social-line:after {
  clear: both;
  display: table;
  content: " ";
}
.card .filter,
.card .header .actions {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.76);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.card .header .actions {
  background-color: transparent;
  z-index: 3;
}
.card .header .actions .btn {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card:hover .filter {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.card:hover .header .social-line,
.card:hover .header .actions {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .category,
.card .label {
  font-size: 14px;
  margin-bottom: 0px;
}
.card .category i,
.card .label i {
  font-size: 16px;
}
.card .category {
  color: #9A9A9A;
}
.card .label {
  text-shadow: none;
}
.card .title {
  color: #333333;
}
.card > .title {
  margin: 0;
  padding: 30px 0 0;
}
.card .content {
  padding: 15px 15px 5px 15px;
}
.card .content .title {
  margin: 10px 0 20px 0;
}
.card .content .category ~ .title {
  margin-top: 0px;
}
.card .content .description ~ .title {
  margin-top: -10px;
}
.card .description {
  font-size: 16px;
  color: #9A9A9A;
}
.card h6 {
  font-size: 12px;
  margin: 0;
}
.card .footer {
  padding: 0 15px 15px;
}
.card .footer .social-line .btn:first-child {
  border-radius: 0 0 0 6px;
}
.card .footer .social-line .btn:last-child {
  border-radius: 0 0 6px 0;
}
.card.card-separator:after {
  height: 100%;
  right: -15px;
  top: 0;
  width: 1px;
  background-color: #DDDDDD;
  content: "";
  position: absolute;
}
.card .icon {
  display: block;
  margin: 0 auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}
.card .icon i {
  font-size: 60px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 18px;
  border-radius: 50%;
}
.col-lg-4 .card .icon i {
  font-size: 80px;
  padding: 22px;
}
.card.card-with-border .content {
  padding: 15px 15px 25px 15px;
}
.card.card-with-border .footer {
  padding-bottom: 25px;
}
.card.card-with-border:after {
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  content: "";
  top: 5px;
  left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 1;
  border-radius: 5px;
}
.card.card-just-text .content {
  padding: 50px 65px;
  text-align: center;
}
.card[data-background="image"] .image, .card[data-background="color"] .image {
  border-radius: 6px;
}
.card[data-background="image"] .title, .card[data-background="color"] .title {
  font-weight: bold;
}
.card[data-background="image"] .filter, .card[data-background="color"] .filter {
  border-radius: 6px;
}
.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .footer,
.card[data-background="image"] small,
.card[data-background="image"] a, .card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .footer,
.card[data-background="color"] small,
.card[data-background="color"] a {
  color: #FFFFFF;
}
.card[data-background="image"] a:hover,
.card[data-background="image"] a:focus, .card[data-background="color"] a:hover,
.card[data-background="color"] a:focus {
  color: #FFFFFF;
}
.card[data-background="image"] .icon i, .card[data-background="color"] .icon i {
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.card[data-background="image"].card-with-border:after, .card[data-background="color"].card-with-border:after {
  border: 1px solid rgba(255, 255, 255, 0.45);
}
.card[data-background="image"] {
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.card[data-background="image"] .filter {
  opacity: 0.55;
  filter: alpha(opacity=55.0);
}
.card[data-background="image"]:hover .filter {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
@media (min-width: 992px){
  .card {
    margin-left: 35px;
    margin-right: 35px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .card .header {
    height: 265px;
  }
  .card[data-background="color"] .header {
    height: 230px;
  }

  .col-md-3 .card .header,
  .col-sm-3 .card .header,
  .col-xs-3 .card .header,
  .col-lg-3 .card .header {
    height: 185px;
  }
}
/*          Changes for small display      */
@media (max-width: 767px) {
  .navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.45);
  }

  body {
    position: relative;
  }

  .social-line .btn {
    margin: 0 0 10px 0;
  }

  .card .header .social-line .btn {
    margin: 0;
  }
}


/*.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: red; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }*/


.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 60px; line-height: 1; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }

.single-item img{
  height: 100%;
  width: 100%;
}
.single-item h2{
  font-size: 56px;
  margin-bottom: 50px;
  color: #f1f1f1;
  text-align: center;
  line-height: 1.3;
  font-weight: 300;
  padding: 0;
}
.single-item p{
  font-size: 21px;
  margin-bottom: 30px;
  color: #f1f1f1;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  padding: 0;
}

@media (min-width: 768px){
  h2 {
    font-size: 38px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  p {
    margin: 0 0 30px;
  }
}

.title{
  font-size: 35px;
  color: #FFF;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: start;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}
#section2 {
  background-position: center center;
  background-image: url('/static/img/extend-dar.jpg');
}
.sub-header {
  color: #FFF;
  font-weight: 300;
  position: relative;
  min-height: 1px;
  float: left;
  width: 60%;
  padding: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
  text-align: left;
  font-size: 14px;
  line-height: 1.2142857;
}
.section-content {
  position: absolute;
  padding: 0 30px;
  top: 100px;
  left: 0;
  color: #F1F1F1;
  text-align: left;
}
.section-title {
  color: #FFF;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  text-align: left;
  padding: 0;
  margin: 0 5px 30px 0;
}
@media (min-width: 768px) {
  .sub-header {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .section-content {
    top: 50%;
    left: 30px;
  }
  .section-title {
    font-size: 36px;
    margin-bottom: 25px;
    width: 580px;
  }
  .sub-header {
    font-size: 18px;
    line-height: 1.333333333;
    margin-bottom: 15px;
    width: 380px;
  }
}
@media (min-width: 1200px) {
  .section-content {
    left: 80px;
  }
  .section-title {
    font-size: 44px;
    line-height: 1.08333;
    padding: 0;
    width: 633px;
  }
  .sub-header {
    font-size: 21px;
    line-height: 1.4285714285;
    margin-bottom: 25px;
    width: 450px;
  }
}
@media (max-height: 650px) and (min-width: 1200px) {
  .section-content {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

