.box-static.box-border-top {
  border-top: rgba(0, 42, 84, 1) 3px solid;
}

a.no-text-decoration {
  color: #002A54;
}

.btn-primary {
  background-color: #002A54;
  border-color: #001f3d;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #001f3d;
  border-color: #001429;
}

#terms {
  color: #001f3d !important;
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: none;
}
