body {
  background-color: #f0f0f0;
  font-family: Raleway, Roboto;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
}

a.no-text-decoration {
  color: #002A54;
}

#aside .nav-list li a[disabled] {
    background-color: #001429;
    pointer-events: none;
}

.btn-primary {
  background-color: #002A54;
  border-color: #001f3d;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #001f3d;
  border-color: #001429;
}

.tp-bgimg.defaultimg {
    opacity: 0.95 !important;
}

#footer {
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    display: block;
    background: #002A54;
    background: -moz-linear-gradient(top, #003366 0%, #002A54 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003366), color-stop(100%, #002A54));
    background: -webkit-linear-gradient(top, #003366 0%, #002A54 100%);
    background: -o-linear-gradient(top, #003366 0%, #002A54 100%);
    background: -ms-linear-gradient(top, #003366 0%, #002A54 100%);
    background: linear-gradient(to bottom, #003366 0%,#002A54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#002A54',GradientType=0 );
}

.transfer {
    text-align: -webkit-right;
}

.mid-align{
    float: none;
    margin: 0 auto;
}

.modal-content {
    border: 0;
    border-top: #002A54 4px solid;
}

.box-icon.box-icon-transparent .box-icon-title>i {
    /*background-color: transparent;*/
    border: #ccc 1px solid;
    color: #002A54;
}

ul.process-steps li a.active, ul.process-steps li a.active:focus, ul.process-steps li:hover>a.active {
    background-color: #002A54 !important;
    border-color: #002A54 !important;
}

.nav-tabs>li>a.active {
    color: #002A54 !important;
}