a.no-text-decoration {
  color: #002A54;
}

.btn-primary {
  background-color: #002A54;
  border-color: #001f3d;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #001f3d;
  border-color: #001429;
}