{% extends "dashboard.html" %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <!-- /BOXES -->
            <div class="row">
                <div id="grid" data-columns>
                    <!-- BOX -->
                    <div class="card-box">
                        <div class="card card-with-border" data-color="navy">
                            <div class="content text-center">
                                <h4 class="title text-center">Balance</h4>
                                <p class="description">View your balance(Principal only)</p>
                            </div>
                            <div class="footer btn-center">
                                <button id="balance"
                                        class="btn btn-neutral btn-round btn-modern"
                                        data-toggle="modal"
                                        data-target="#balanceModal">
                                    My balance
                                </button>
                            </div>
                            <div class="filter filter-blue"></div>
                        </div> <!-- end card -->
                    </div>
                    <!-- /BOX -->
                    <!-- BOX -->
                    <div class="card-box">
                        <div class="card card-with-border text-center" data-color="navy">
                            <h4 class="title title-modern">POCHI Rate</h4>
                            <div class="content">
                                <div class="price">
                                    <h6>From</h6>
                                    <h4>10<b class="currency">%</b></h4>
                                </div>
                            </div>
                            <div class="footer btn-center">
                                <a id="rate" class="btn btn-neutral btn-round btn-modern" href="{% url 'rates' %}">
                                    See Rates
                                </a>
                            </div>
                            <div class="filter filter-blue"></div>
                        </div>
                    </div>
                    <!-- /BOX -->
                    <!-- BOX -->
                    <div class="card-wrap">
                        <div class="card-1 card-with-border"
                             data-color="navy"
                             data-toggle="modal"
                             data-target="#dailyModal">
                            <div class="card-bg" id="daily"></div>
                            <div class="card-info">
                                <h4 class="title title-modern">Daily</h4>
                                <p>Daily earnings, interest as of yesterday.</p>
                                <button id="d_earn"
                                        class="btn btn-neutral btn-fill btn-modern">
                                    View Earnings
                                </button>
                            </div>
                            <div class="filter filter-blue"></div>
                        </div>
                    </div>
                    <!-- /BOX -->
                    <!-- BOX -->
                    <div class="card-wrap">
                        <div class="card-1 card-with-border"
                             data-color="navy"
                             data-toggle="modal"
                             data-target="#monthlyModal">
                            <div class="card-bg" id="monthly"></div>
                            <div class="card-info">
                                <h4 class="title title-modern">Monthly</h4>
                                <p>Monthly earnings, See monthly earnings for the whole year.</p>
                                <button id="m_earn"
                                        class="btn btn-neutral btn-fill btn-modern">
                                    View Earnings
                                </button>
                            </div>
                            <div class="filter filter-blue"></div>
                        </div>
                    </div>
                    <!-- /BOX -->
                    <!-- BOX -->
                    <div class="card-box">
                        <div class="card card-with-border" data-color="navy">
                            <div class="content text-center">
                                <h4 class="title text-center"> Total Earnings</h4>
                                <p class="description"> Cumulative earnings since the beginning of time</p>
                            </div>
                            <div class="footer btn-center">
                                <button id="earnings"
                                        class="btn btn-neutral btn-round btn-modern"
                                        data-toggle="modal"
                                        data-target="#earningsModal">
                                    View Earnings
                                </button>
                            </div>
                            <div class="filter filter-blue"></div>
                        </div> <!-- end card -->
                    </div>
                    <!-- /BOX -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}