{% extends "dashboard.html" %}
{% block links %}
    <link href="/static/pochi/css/exchange.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="forex-ticker">
                        <table>
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Last</th>
                                    <th>Day High</th>
                                    <th>Day Low</th>
                                    <th>%Change</th>
                                    <th>Bid</th>
                                    <th>Ask</th>
                                    <th>Notify me</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="currency-pair">
                                    <a data-toggle="modal" data-target="#viewModalUSD">USD/TZS</a>
                                </td>
                                <td class="price" data-currency-pair="USDTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                        <input type="checkbox" value="ok" id="USD" name="USD" />
                                        <label for="USD"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>GBP/TZS</a></td>
                                <td class="price" data-currency-pair="GBPTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="GBP" name="GBP" />
                                      <label for="GBP"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>EUR/TZS</a></td>
                                <td class="price" data-currency-pair="EURTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                        <input type="checkbox" value="ok" id="EUR" name="EUR" />
                                        <label for="EUR"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>ZAR/TZS</a></td>
                                <td class="price" data-currency-pair="ZARTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="ZAR" name="ZAR" />
                                      <label for="ZAR"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>KES/TZS</a></td>
                                <td class="price" data-currency-pair="KESTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="KES" name="KES" />
                                      <label for="KES"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>INR/TZS</a></td>
                                <td class="price" data-currency-pair="INRTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="INR" name="INR" />
                                      <label for="INR"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>UGX/TZS</a></td>
                                <td class="price" data-currency-pair="UGXTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="UGX" name="UGX" />
                                      <label for="UGX"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>CHF/TZS</a></td>
                                <td class="price" data-currency-pair="CHFTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="CHF" name="CHF" />
                                      <label for="CHF"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="currency-pair"><a>CAD/TZS</a></td>
                                <td class="price" data-currency-pair="CADTZS">
                                    {% if last > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ last }}</span>
                                    {% elif last < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ last }}</span>
                                    {% else %}
                                        <span>{{ last }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ high }}</span>
                                </td>
                                <td>
                                    <span>{{ low }}</span>
                                </td>
                                <td>
                                    {% if change > 0 %}
                                        <span class="green inline-block"><span class="arrow-up inline-block"></span>{{ change }}%</span>
                                    {% elif change < 0 %}
                                        <span class="red inline-block"><span class="arrow-down inline-block"></span>{{ change }}%</span>
                                    {% else %}
                                        <span>{{ change }}%</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bid }}
                                </td>
                                <td>
                                    {{ ask }}
                                </td>
                                <td>
                                    <div class="notify">
                                      <input type="checkbox" value="ok" id="CAD" name="CAD" />
                                      <label for="CAD"></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/pochi/js/forex-ticker.js"></script>
{% endblock %}