{% extends "dashboard.html" %}
{% block links %}
    <link href="/static/pochi/css/interests.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div class="row">
                <div class="col-md-3">
                    <ul class="rates">
                        <li>Overnight Rates</li>
                        <li>T-Bill Rates</li>
                        <li>T-Bond Rates</li>
                        <li>USD LIBOR Rates</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}