{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/static/pochi/css/navyblue.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-transparent">
                        <strong>Select Account</strong>
                    </div>
                    <div class="panel-body">
                        <div class="fancy-form fancy-form-select">
                            <select id="account_type" class="form-control select2" title="">
                                <option value="m_money">Mobile Money</option>
                                <option value="bank_acc">Bank account</option>
                            </select>
                            <i class="fancy-arrow-double"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% if messages %}
                    {% for message in messages %}
                        <div class="col-xs-12">
                            <div class="alert alert-success margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn btn-success" data-dismiss="alert">OK</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-lg-offset-4 col-md-offset-2">
                <div id="bank" class="panel panel-default">
                    <div class="panel-heading panel-heading-transparent">
                        <strong>Bank Account</strong>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'accounts' %}">
                            {% csrf_token %}
                            <div class="fancy-form fancy-form-select">
                                <select class="form-control" name="institution" title="Select bank">
                                    <option disabled="disabled">Select bank</option>
                                    <option value="CRDB">CRDB</option>
                                    <option value="NMB">NMB</option>
                                    <option value="AMANA BANK">AMANA BANK</option>
                                </select>
                                <i class="fancy-arrow"></i>
                                <input type="hidden" name="type" value="BANK">
                            </div>

                            <br />

                            <label>Account name
                                <input type="text" class="form-control" name="name" >
                            </label>

                            <br />

                            <label>Alias account name <small>(short name)</small>
                                <input type="text" class="form-control" name="nickname" >
                            </label>

                            <br />

                            <label>Account number
                                <input type="text" class="form-control" name="account">
                            </label>

                            <br />
                            <input type="submit" class="btn btn-primary" value="Add Account">
                        </form>
                    </div>
                </div>
                <div id="mobile" class="panel panel-default">
                    <div class="panel-heading panel-heading-transparent">
                        <strong>Mobile Money</strong>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'accounts' %}">
                            {% csrf_token %}
                            <div class="fancy-form fancy-form-select">
                                <select class="form-control" name="institution" title="Choose mobile money">
                                    <option disabled="disabled">Choose mobile money</option>
                                    <option value="TIGO-PESA">TIGO-PESA</option>
                                    <option value="AIRTEL-MONEY">AIRTEL-MONEY</option>
                                    <option value="M-PESA">M-PESA</option>
                                </select>
                                <i class="fancy-arrow"></i>
                                <input type="hidden" name="type" value="MOBILE">
                            </div>

                            <br />

                            <label>Account name
                                <input type="text" class="form-control" name="name" >
                            </label>

                            <br />

                            <label>Alias account name <small>(short name)</small>
                                <input type="text" class="form-control" name="nickname" >
                            </label>

                            <br />

                            <label>Add Phone Number</label>
                            <div class="fancy-form"><!-- input -->
                                <i class="fa fa-phone-square"></i>

                                <input type="text" class="form-control masked"
                                       name="account"
                                       data-format="0999999999"
                                       placeholder="Enter telephone">

                                <span class="fancy-tooltip top-left">
                                    <em>Type Your Phone Number</em>
                                </span>
                            </div><!-- /input -->
                            <br>
                            <input type="submit" class="btn btn-primary" value="Add Account">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('#bank').hide();
        var choice = $("#account_type");
        choice.on('change', function() {
            var id_choice = choice.find(":selected").val();
            if (id_choice === 'm_money'){
                $('#mobile').show();
                $('#bank').hide();
            }else if (id_choice === 'bank_acc'){
                $('#bank').show();
                $('#mobile').hide();
            }
        });
    </script>
{% endblock %}