{% extends "pochi/main.html" %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div id="panel-1" class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <strong>BALANCE & INTEREST SUMMARY</strong> <!-- panel title -->
                        <small class="size-12 weight-300 text-mutted hidden-xs">2017</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                    </ul>
                    <!-- /right options -->
                </div>

                <!-- panel content -->
                <div class="panel-body">
                    <div id="bal-interest" class="fullwidth height-250"></div>
                </div>
                <!-- /panel content -->

                <!-- panel footer -->
                <div class="panel-footer">

                    <!--
                        .md-4 is used for a responsive purpose only on col-md-4 column.
                        remove .md-4 if you use on a larger column
                    -->
                    <ul class="easypiecharts list-unstyled">
                        <li class="clearfix">
                            <span class="stat-number">18.125</span>
                            <span class="stat-title">New Customers</span>

                            <span class="easyPieChart" data-percent="86" data-easing="easeOutBounce" data-barColor="#F8CB00" data-trackColor="#dddddd" data-scaleColor="#dddddd" data-size="60" data-lineWidth="4">
                                <span class="percent"></span>
                            </span>
                        </li>
                        <li class="clearfix">
                            <span class="stat-number">60%</span>
                            <span class="stat-title">Returning Customers</span>

                            <span class="easyPieChart" data-percent="59.83" data-easing="easeOutBounce" data-barColor="#F86C6B" data-trackColor="#dddddd" data-scaleColor="#dddddd" data-size="60" data-lineWidth="4">
                                <span class="percent"></span>
                            </span>
                        </li>
                        <li class="clearfix">
                            <span class="stat-number">12%</span>
                            <span class="stat-title">Canceled Orders</span>

                            <span class="easyPieChart" data-percent="12" data-easing="easeOutBounce" data-barColor="#98AD4E" data-trackColor="#dddddd" data-scaleColor="#dddddd" data-size="60" data-lineWidth="4">
                                <span class="percent"></span>
                            </span>
                        </li>
                        <li class="clearfix">
                            <span class="stat-number">97%</span>
                            <span class="stat-title">Positive Feedbacks</span>

                            <span class="easyPieChart" data-percent="97" data-easing="easeOutBounce" data-barColor="#0058AA" data-trackColor="#dddddd" data-scaleColor="#dddddd" data-size="60" data-lineWidth="4">
                                <span class="percent"></span>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- /panel footer -->
            </div>
            <!-- /PANEL -->
        </div>
    </section>
{% endblock %}