{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/static/pochi/css/navyblue.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div id="panel-1" class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <strong>BALANCE & INTEREST SUMMARY</strong> <!-- panel title -->
                        <small class="size-12 weight-300 text-mutted hidden-xs">(As at {% now 'd/m/Y' %})</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                    </ul>
                    <!-- /right options -->
                </div>

                <!-- panel content -->
                <div class="panel-body">
                    <canvas id="balInterest" class="fullwidth height-400"></canvas>
                </div>
                <!-- /panel content -->
            </div>
            <!-- /PANEL -->
        </div>

        <!-- BOXES -->
        <div class="row">
            <!-- Rate Box -->
            <div class="col-md-3 col-sm-6">
            {% if group %}
                <a href="{% url 'group_data' group 'rates' %}">
            {% else %}
                <a href="{% url 'data' 'rates' %}">
            {% endif %}
                    <!-- BOX -->
                    <div class="box danger grow"><!-- default, danger, warning, info, success -->
                        <div class="box-title"><!-- add .noborder class if box-body is removed -->
                            <h4>Current POCHI Rate</h4>
                            <small class="block">{{ rates.today }}%</small>
{#                            <i class="fa fa-comments"></i>#}
                        </div>
                        <div class="box-body text-center">
                            <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                                {{ rates.year }}
                            </span>
                        </div>
                    </div>
                    <!-- /BOX -->
                </a>
            </div>
            <!-- Daily Box -->
            <div class="col-md-3 col-sm-6">
            {% if group %}
                <a href="{% url 'group_data' group 'daily' %}">
            {% else %}
                <a href="{% url 'data' 'daily' %}">
            {% endif %}
                    <!-- BOX -->
                    <div class="box warning grow"><!-- default, danger, warning, info, success -->
                        <div class="box-title"><!-- add .noborder class if box-body is removed -->
                            <h4>Daily Earnings</h4>
                            <small class="block">TZS {{ daily.today }}/=</small>
    {#                        <i class="fa fa-bar-chart-o"></i>#}
                        </div>
                        <div class="box-body text-center">
                            <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                                {{ daily.month }}
                            </span>
                        </div>
                    </div>
                    <!-- /BOX -->
                </a>
            </div>
            <!-- Monthly Box -->
            <div class="col-md-3 col-sm-6">
            {% if group %}
                <a href="{% url 'group_data' group 'monthly' %}">
            {% else %}
                <a href="{% url 'data' 'monthly' %}">
            {% endif %}
                    <!-- BOX -->
                    <div class="box default grow"><!-- default, danger, warning, info, success -->
                        <div class="box-title"><!-- add .noborder class if box-body is removed -->
                            <h4>Monthly earnings</h4>
                            <small class="block">TZS {{ monthly.bonus }}/=</small>
    {#                        <i class="fa fa-shopping-cart"></i>#}
                        </div>
                        <div class="box-body text-center">
                            <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                                {{ monthly.year }}
                            </span>
                        </div>
                    </div>
                    <!-- /BOX -->
                </a>
            </div>
            <!-- Total Box -->
            <div class="col-md-3 col-sm-6">
            {% if group %}
                <a href="{% url 'group_data' group 'total' %}">
            {% else %}
                <a href="{% url 'data' 'total' %}">
            {% endif %}
                    <!-- BOX -->
                    <div class="box success grow"><!-- default, danger, warning, info, success -->
                        <div class="box-title"><!-- add .noborder class if box-body is removed -->
                            <h4>Total Earnings</h4>
                            <small class="block">TZS {{ total.total.bonus_closing_balance__sum }}/=</small>
    {#                        <i class="fa fa-globe"></i>#}
                        </div>
                        <div class="box-body text-center">
                            <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                                {{ total.month }}
                            </span>
                        </div>
                    </div>
                    <!-- /BOX -->
                </a>
            </div>
        </div>
        <!-- /BOXES -->
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/pochi/js/admin.js"></script>
    <script type="text/javascript">
        var ctx = document.getElementById('balInterest').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                {% if labels %}
                    labels: {{labels|safe}},
                {% else %}
                    labels: [],
                {% endif %}
                datasets: [
                    {
                        label: 'Balance',
                        borderColor: 'rgb(0,42,84)',
                        {% if balance %}
                            data: {{balance|safe}},
                        {% else %}
                            data: [],
                        {% endif %}
                        type: 'line'
                    },
                    {
                        label: 'Interest',
                        borderColor: 'rgb(206,32,32)',
                        {% if bonus %}
                            data: {{bonus|safe}},
                        {% else %}
                            data: [],
                        {% endif %}
                    }
                ]
            }
        });
    </script>
{% endblock %}