{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/static/pochi/css/navyblue.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div id="panel-1" class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <strong>BALANCE & INTEREST SUMMARY</strong> <!-- panel title -->
                        <small class="size-12 weight-300 text-mutted hidden-xs">2017</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                    </ul>
                    <!-- /right options -->
                </div>

                <!-- panel content -->
                <div class="panel-body">
                    <canvas id="balInterest" height='400' class="fullwidth"></canvas>
                </div>
                <!-- /panel content -->
            </div>
            <!-- /PANEL -->
        </div>

        <!-- BOXES -->
        <div class="row">
            <!-- Feedback Box -->
            <div class="col-md-3 col-sm-6">
                <!-- BOX -->
                <div class="box danger"><!-- default, danger, warning, info, success -->
                    <div class="box-title"><!-- add .noborder class if box-body is removed -->
                        <h4><a href="#">POCHI Rates</a></h4>
                        <small class="block">8.4%</small>
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="box-body text-center">
                        <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                            331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                        </span>
                    </div>
                </div>
                <!-- /BOX -->
            </div>
            <!-- Profit Box -->
            <div class="col-md-3 col-sm-6">
                <!-- BOX -->
                <div class="box warning"><!-- default, danger, warning, info, success -->
                    <div class="box-title"><!-- add .noborder class if box-body is removed -->
                        <h4>Daily Earnings</h4>
                        <small class="block">TZS 178/=</small>
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="box-body text-center">
                        <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                            331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                        </span>
                    </div>
                </div>
                <!-- /BOX -->
            </div>
            <!-- Orders Box -->
            <div class="col-md-3 col-sm-6">
                <!-- BOX -->
                <div class="box default"><!-- default, danger, warning, info, success -->
                    <div class="box-title"><!-- add .noborder class if box-body is removed -->
                        <h4>Monthly earnings</h4>
                        <small class="block">TZS 8,105/=</small>
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="box-body text-center">
                        <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                            331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                        </span>
                    </div>
                </div>
                <!-- /BOX -->
            </div>
            <!-- Online Box -->
            <div class="col-md-3 col-sm-6">
                <!-- BOX -->
                <div class="box success"><!-- default, danger, warning, info, success -->
                    <div class="box-title"><!-- add .noborder class if box-body is removed -->
                        <h4>Total Earnings</h4>
                        <small class="block">TZS 178,185/=</small>
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="box-body text-center">
                       <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                            331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                        </span>
                    </div>
                </div>
                <!-- /BOX -->
            </div>
        </div>
        <!-- /BOXES -->
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/pochi/js/admin.js"></script>
{% endblock %}