{% extends "pochi/main.html" %}
{% block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/css/formValidation.min.css">
    <style>
        .form-control-feedback{
            top: 1px;
            right: 17px;
        }
    </style>
{% endblock %}
{% load get_second %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="elipsis">
                                <strong>Group Information</strong>
                            </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li>
                                    <a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a>
                                </li>
                                <li>
                                    <a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a>
                                </li>
                            </ul>
                            <!-- /right options -->
                        </div>
                        <!-- panel content -->
                        <div class="panel-body">
                            <div class="row tabs nomargin">
                                <!-- tabs -->
                                <div class="col-md-3 col-sm-3 nopadding-right nopadding-left">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab">
                                                Profile
                                            </a>
                                        </li>
                                        {% for this_group in groups %}
                                            {% if this_group.name == group %}
                                                {% if this_group.admin %}
                                                <li>
                                                    <a href="#add" data-toggle="tab">
                                                        Add Member
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#remove" data-toggle="tab">
                                                        Remove Member
                                                    </a>
                                                </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- tabs content -->
                                <div class="col-md-9 col-sm-9 nopadding-right nopadding-left">
                                    <div class="tab-content">
                                        <div id="profile" class="tab-pane active">
                                            <div id="panel-ui-tan-l3" class="panel panel-default">
                                                <div class="panel-heading">
                                                    <span class="elipsis">
                                                        <strong>Group Profile</strong>
                                                    </span>
                                                </div>
                                                <!-- panel content -->
                                                <div class="panel-body">
                                                    <p>
                                                        {{ group }} group currently has {{ number }}
                                                        {% if number == 1 %} member {% else %} members{% endif %}.
                                                    </p>
                                                    <div class="tabs nomargin">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a href="#tab1_nobg" data-toggle="tab">
                                                                    <i class="fa fa-users"></i> Participants
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab2_nobg" data-toggle="tab">
                                                                    <i class="fa fa-cog"></i> Group Name
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content transparent">
                                                            <div id="tab1_nobg" class="tab-pane active">
                                                                {% for member in members %}
                                                                    {% if member.admin %}
                                                                        <div>
                                                                            <i class="fa fa-user-secret"></i>
                                                                            <p class="inline-block margin-bottom-0">
                                                                                {{ member.member }}
                                                                                <span class="label label-success">Admin</span>
                                                                            </p>
                                                                            {% if admins|length > 1 %}
                                                                                <a href="{% url 'confirm_action_group' group 'removeAdmin-'|add:member.id %}">Remove Admin</a>
                                                                            {% endif %}
                                                                        </div>
                                                                    {% else %}
                                                                        <div>
                                                                            <i class="fa fa-user"></i>
                                                                            <p class="inline-block margin-bottom-0">{{ member.member }}</p>
                                                                            {% if user.get_full_name in admins and admins|length <= 2 %}
                                                                                <a href="{% url 'confirm_action_group' group 'addAdmin-'|add:member.id %}">Add Admin</a>
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            <div id="tab2_nobg" class="tab-pane">
                                                                <form method="post" action="{% url 'confirm_action_group' group 'change' %}">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-xs-3 size-15">Change Group Name</div>
                                                                        <div class="col-xs-5">
                                                                            <input class="form-control" name="g_name" title="" />
                                                                        </div>
                                                                        <div class="col-xs-3">
                                                                            <input type="submit" class="btn btn-primary" value="Change" />
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /panel content -->
                                            </div>
                                        </div>
                                        {% for this_group in groups %}
                                            {% if this_group.name == group %}
                                                {% if this_group.admin %}
                                                    <div id="add" class="tab-pane">
                                                        <form class="add-member" method="post" action="{% url 'group_member' group 'add' %}">
                                                            {% csrf_token %}
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading panel-heading-transparent">
                                                                    <strong>Add Members</strong>
                                                                </div>
                                                                <div class="panel panel-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-xs-2 control-label">Member 1</label>
                                                                                <div class="col-xs-6">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           name="option[]"
                                                                                           title=""
                                                                                           placeholder="Phone number"
                                                                                           autocomplete="off"/>
                                                                                    <div class="loader text-center hide">
                                                                                        <img src="/static/pochi/img/loading.gif" alt="" />
                                                                                    </div>
                                                                                    <small class="text-muted block hint">Format (0XXXXXXXXX)</small>
                                                                                </div>
                                                                                <div class="col-xs-4 extras hide">
                                                                                    <button type="button" id="push" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                                                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <!-- The option field template containing an option field and a Remove button -->
                                                                        <div class="form-group hide" id="optionTemplate">
                                                                            <div class="row">
                                                                                <label class="col-xs-3 control-label"></label>
                                                                                <div class="col-xs-5">
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           name="option[]"
                                                                                           title=""
                                                                                           placeholder="Phone number"
                                                                                           autocomplete="off"/>
                                                                                    <div class="loader text-center hide">
                                                                                        <img src="/static/pochi/img/loading.gif" alt="" />
                                                                                    </div>
                                                                                    <small class="text-muted block hint">Format (0XXXXXXXXX)</small>
                                                                                </div>
                                                                                <div class="col-xs-4 extras hide">
                                                                                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                                                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    <div class="row">
                                                                        <div class="col-xs-12" align="center">
                                                                            <input type="hidden" id="members" name="members" value=""/>
                                                                            <button type="submit" id="add-button" class="btn btn-primary hide" >
                                                                                <i class="fa fa-check"></i> ADD MEMBER(s)
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div id="remove" class="tab-pane">
                                                        <form class="remove-member" method="post" action="{% url 'group_member' group 'remove' %}">
                                                            {% csrf_token %}
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading panel-heading-transparent">
                                                                    <strong>Remove a member</strong>
                                                                </div>
                                                                <div class="panel-body">
                                                                {% if members|length > 2 %}
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            {% for member in members %}
                                                                                {% if not member.admin and user.get_full_name != member.member %}
                                                                                    <div>
                                                                                        <label class="checkbox">
                                                                                            <input type="checkbox" name="members[]" value="{{ member.member }}">
                                                                                            <i></i> {{ member.member }}
                                                                                        </label>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12" align="center">
                                                                            <input type="hidden" id="rejected" name="rejected" value=""/>
                                                                            <button type="submit" id="remove" class="btn btn-primary" disabled>
                                                                                <i class="fa fa-check"></i> REMOVE MEMBER(S)
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            Cannot remove any members since a group should have a minimum of two members.
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if user.get_full_name in admins %}
                                        <a href="{% url 'confirm_action_group' group 'delete' %}" class="btn btn-primary">Delete group</a>  <!--  url 'delete_group' group  -->
                                    {% endif %}
                                    {% if number >= 1 %}
                                        {% if user.get_full_name in admins and admins|length <= 1 %}
                                            <a href="#" class="btn btn-primary toastr-notify"
                                               data-progressBar="true"
                                               data-position="top-center"
                                               data-notifyType="info"
                                               data-message="You need to assign another admin before you exit the group!">
                                                Exit
                                            </a>
                                        {% elif user.get_full_name in admins and admins|length > 1 %}
                                            <a href="{% url 'confirm_action_group' group 'exit' %}" class="btn btn-primary">Exit</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /panel content -->
                    </div>
                </div>
            </div>
            <div class="row">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="col-xs-12">
                            <div class="alert alert-danger margin-bottom-30">
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <div class="col-xs-12">
                            <div class="alert alert-warning margin-bottom-30">
                                <strong>{{ message }}</strong>
                                {% if 'delete' in message.tags %}
                                    <a href="{% url 'del_group' group %}" class="btn btn-warning btn-sm margin-top-10">Yes</a>
                                    <input type="button" class="btn btn-warning btn-sm margin-top-10" data-dismiss="alert" value="Cancel">
                                {% elif 'exit' in message.tags %}
                                    <a href="{% url 'exit_group' group %}" class="btn btn-warning btn-sm margin-top-10">Yes</a>
                                    <input type="button" class="btn btn-warning btn-sm margin-top-10" data-dismiss="alert" value="Cancel">
                                {% elif 'removeAdmin' in message.tags %}
                                    <a href="{% url 'group_admin' group message.tags|get_second 'remove' %}" class="btn btn-warning btn-sm margin-top-10">Yes</a>
                                    <input type="button" class="btn btn-warning btn-sm margin-top-10" data-dismiss="alert" value="Cancel">
                                {% elif 'change' in message.tags %}
                                    <a href="{% url 'group_admin' group message.tags|get_second 'change' %}" class="btn btn-warning btn-sm margin-top-10">Yes</a>
                                    <input type="button" class="btn btn-warning btn-sm margin-top-10" data-dismiss="alert" value="Cancel">
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <div class="alert alert-info margin-bottom-30">
                                <strong>{{ message }}</strong>
                                {% if 'addAdmin' in message.tags %}
                                    <a href="{% url 'group_admin' group message.tags|get_second 'add' %}" class="btn btn-info btn-sm margin-top-10">Yes</a>
                                    <input type="button" class="btn btn-info btn-sm margin-top-10" data-dismiss="alert" value="Cancel">
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/formValidation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/framework/bootstrap.min.js"></script>
    <script>
        var existingMembers = [];
        {% for member  in members %}
            existingMembers.push('{{ member.member }}');
        {% endfor %}
    </script>
    <script type="text/javascript" src="/static/pochi/js/group.js"></script>
{% endblock %}