{% extends "pochi/main.html" %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
                <div id="success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body modal-success text-center">
                                <p><strong><i class="glyphicon glyphicon-thumbs-up"></i> {{ message }}</strong></p>
                                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body modal-info text-center">
                                <p><strong><i class="glyphicon glyphicon-info-sign"></i> {{ message }}</strong></p>
                                <a href="{% url 'confirm' %}" class="btn btn-info btn-sm">Proceed transfer</a>
                                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body modal-danger text-center">
                                <p><strong><i class="glyphicon glyphicon-thumbs-down"></i> {{ message }}</strong></p>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-centered">
                    <form class="payment" method="post" action="{% url 'pochi2pochi' %}">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-transparent">
                                <strong>POCHI TO POCHI Funds Transfer</strong>
                            </div>
                            <div class="panel-body">
                                <div class="fancy-form fancy-form-select">
                                    <select id="account_choice" class="form-control" title="">
                                        <option disabled="disabled">Select destination choice</option>
                                        <option value="mobile">Mobile number</option>
                                        <option value="account">POCHI Account</option>
                                    </select>
                                    <i class="fancy-arrow"></i>
                                </div>
                                <div id="mobile-section">
                                    <label>Enter destination mobile number</label>
                                    <input type="tel" class="form-control masked" name="dest_mobile" data-format="0999999999" data-placeholder="X" placeholder="Mobile number">
                                </div>
                                <div id="account-section">
                                    <label>Enter POCHI destination account</label>
                                    <input type="text" class="form-control masked" name="dest_account" data-format="**********" data-placeholder="_" placeholder="Account">
                                </div>
                                <div id="amount-section">
                                    <label>Enter Amount</label>
                                    <input type="number" class="form-control" name="amount" placeholder="TZS" required>
                                </div>
                            </div>
                            <div class="panel-footer transfer">
                                <input type="hidden" name="type" value="G2P">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> SEND MONEY</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/pochi/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#account-section').hide();
        var choice = $("#account_choice");
        choice.on('change', function() {
            var id_choice = choice.find(":selected").val();
            if (id_choice === 'mobile'){
                $('#mobile-section').show();
                $('#account-section').hide();
            }else if (id_choice === 'account'){
                $('#account-section').show();
                $('#mobile-section').hide();
            }
        });
        $(document).ready(function(){
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        $("#success").modal('show');
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        $("#info").modal('show');
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        $("#warning").modal('show');
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        $("#error").modal('show');
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}
