{% extends "pochi/main.html" %}
{% block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/css/formValidation.min.css">
    <style>
        .form-control-feedback{
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="elipsis">
                                <strong>Group Information</strong>
                            </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li>
                                    <a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a>
                                </li>
                                <li>
                                    <a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a>
                                </li>
                            </ul>
                            <!-- /right options -->
                        </div>
                        <!-- panel content -->
                        <div class="panel-body">
                            <div class="row tabs nomargin">
                                <!-- tabs -->
                                <div class="col-md-3 col-sm-3 nopadding-right nopadding-left">
                                    <ul class="nav nav-tabs nav-stacked">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab">
                                                Profile
                                            </a>
                                        </li>
                                        {% for this_group in groups %}
                                            {% if this_group.name == group %}
                                                {% if this_group.admin %}
                                                <li>
                                                    <a href="#add" data-toggle="tab">
                                                        Add Member
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#remove" data-toggle="tab">
                                                        Remove Member
                                                    </a>
                                                </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <li>
                                            <a href="#administrators" data-toggle="tab">
                                                Administrators
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- tabs content -->
                                <div class="col-md-9 col-sm-9 nopadding-right nopadding-left">
                                    <div class="tab-content">
                                        <div id="profile" class="tab-pane active">
                                            <div id="panel-ui-tan-l3" class="panel panel-default">
                                                <div class="panel-heading">
                                                    <span class="elipsis">
                                                        <strong>Group Profile</strong>
                                                    </span>
                                                </div>
                                                <!-- panel content -->
                                                <div class="panel-body">
                                                    <p>
                                                        {{ group }} group currently has {{ number }}
                                                        {% if number == 1 %} member {% else %} members{% endif %}.
                                                    </p>
                                                    <div class="tabs nomargin">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a href="#tab1_nobg" data-toggle="tab">
                                                                    <i class="fa fa-users"></i> Participants
                                                                </a>
                                                            </li>
                                                            <li class="">
                                                                <a href="#tab2_nobg" data-toggle="tab">
                                                                    <i class="fa fa-sign-out"></i>Exit Group
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content transparent">
                                                            <div id="tab1_nobg" class="tab-pane active">
                                                                {% for member in members %}
                                                                    <div>
                                                                        <i class="fa fa-user"></i>
                                                                        <p class="inline-block">
                                                                        {{ member }}
                                                                        </p>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div id="tab2_nobg" class="tab-pane">
                                                                <a href="{% url 'exit_group' group %}" class="btn btn-primary">Exit</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /panel content -->
                                            </div>
                                        </div>
                                        {% for this_group in groups %}
                                            {% if this_group.name == group %}
                                                {% if this_group.admin %}
                                                    <div id="add" class="tab-pane">
                                                        <form class="add-member" method="post" action="{% url 'group_member' group 'add' %}">
                                                            {% csrf_token %}
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading panel-heading-transparent">
                                                                    <strong>Add Members</strong>
                                                                </div>
                                                                <div class="panel panel-body">
                                                                    <div class="row">
                                                                        <fieldset>
                                                                            <div class="form-group">
                                                                                <div class="col-xs-8">
                                                                                    <input type="text" id="member" class="form-control" name="option[]" title=""/>
                                                                                </div>
                                                                                <div class="col-xs-4">
                                                                                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                                                                </div>
                                                                            </div>

                                                                            <!-- The option field template containing an option field and a Remove button -->
                                                                            <div class="form-group hide" id="optionTemplate">
                                                                                <div class="col-xs-8">
                                                                                    <input class="form-control" type="text" name="option[]" title=""/>
                                                                                </div>
                                                                                <div class="col-xs-4">
                                                                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                                                                </div>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12" align="center">
                                                                            <input type="hidden" id="members" name="members" value=""/>
                                                                            <button type="submit" id="done" class="btn btn-primary" >
                                                                                <i class="fa fa-check"></i> ADD MEMBER
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div id="remove" class="tab-pane">
                                                        <form class="remove-member" method="post" action="{% url 'group_member' group 'remove' %}">
                                                            {% csrf_token %}
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading panel-heading-transparent">
                                                                    <strong>Remove a member</strong>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            {% for member in members %}
                                                                                <div>
                                                                                    <label class="checkbox">
                                                                                        <input type="checkbox" name="members[]" value="{{ member }}">
                                                                                        <i></i> {{ member }}
                                                                                    </label>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12" align="center">
                                                                            <input type="hidden" id="rejected" name="rejected" value=""/>
                                                                            <button type="submit" id="remove" class="btn btn-primary" >
                                                                                <i class="fa fa-check"></i> REMOVE MEMBER(S)
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                        <div id="administrators" class="tab-pane">
                                            <div class="panel panel-default">
                                                <div class="panel-heading panel-heading-transparent">
                                                    <strong>List of administrators</strong>
                                                </div>
                                                <div class="panel panel-body">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            {% for administrator in administrators %}
                                                                <i class="fa fa-user-secret"></i>
                                                                <p class="inline-block">{{ administrator }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /panel content -->
                    </div>
                </div>
            </div>
            <div class="row">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="col-xs-12">
                            <div class="alert alert-danger margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <div class="alert alert-info margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/formValidation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/framework/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/pochi/js/group.js"></script>
{% endblock %}