{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/navyblue.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div class="padding-15">
            <div class="sheet">
                <div class="row">
                    <p class="lead">Current balance</p>
                    <p class="lead"> {{ account.current_balance }}</p>
                </div>
                <div class="row">
                    <div class="col-xs-6 headerDivider">
                        <p class="lead">Available balance</p>
                        <p class="lead"> {{ account.available_balance }}</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead">Monthly Interest to-date</p>
                        <p class="lead"> {{ account.bonus }}</p>
                    </div>
                </div>
            </div>
            {% if pendings %}
                <div class="row margin-top-20 mid-align">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <span class="title elipsis text-danger">
                                <strong>recent transactions</strong>
                            </span>
                        </div>

                        <!-- panel content -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-vertical-middle nomargin">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Service</th>
                                            <th>Channel</th>
                                            <th>Mode</th>
                                            <th>Amount</th>
                                            <th>Charges</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for transaction in transactions %}
                                            <tr>
                                                <td>{{ transaction.full_timestamp }}</td>
                                                <td>{{ transaction.service }}</td>
                                                <td>{{ transaction.channel }}</td>
                                                <td>{{ transaction.mode }}</td>
                                                <td>{{ transaction.amount }}</td>
                                                <td>{{ transaction.charge }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-20 mid-align">
                    <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-4">
                        <a href="{% url 'statements' %}" class="btn btn-featured btn-primary">
                            <span>View your statement</span>
                            <i class="et-document"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}