<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
        <title>FIMCO</title>

        <meta name="description" content="" />
        <meta name="fimco" content="FIMCO [www.fimco.co.tz]" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

        <!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700%7CRoboto:300,400,400italic,600,700"
              rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="/static/pochi/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/pochi/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/pochi/css/layout.css" rel="stylesheet" type="text/css" />

        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />

        {% block links %}{% endblock %}
	</head>

	<body>
		<!-- WRAPPER -->
		<div id="wrapper" class="clearfix">
			<!--
				ASIDE
				Keep it outside of #wrapper (responsive purpose)
			-->
			<aside id="aside">
				<nav id="sideNav"><!-- MAIN MENU -->
					<ul class="nav nav-list">
                        <li><!-- home -->
                            <h3 style="color: #939ea4" class="size-14 margin-top-30">FIMCO Platform</h3>
                        </li>
                        <li class="active"><!-- pochi -->
                            <a href="#">
                                <i class="fa fa-menu-arrow pull-right"></i>
                                <i class="main-icon et-wallet"></i>
                                <span>POCHI</span>
                            </a>
                            <ul>
                                <li><!-- individual -->
                                    <a href="#">
                                        <i class="fa fa-menu-arrow pull-right"></i>
                                        <i class="main-icon fa fa-user"></i>
                                        <span>My POCHI</span>
                                    </a>
                                    <ul>
                                        <li><!-- dashboard -->
                                            <a href="{% url 'dashboard' %}">
                                                <i class="fa fa-dashboard"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li><!-- balance -->
                                            <a href="{% url 'pochi' %}">
                                                <i class="fa fa-credit-card"></i>
                                                <span>Balance</span>
                                            </a>
                                        </li>
                                        <li><!-- statement -->
                                            <a href="{% url 'statements' %}">
                                                <i class="fa fa-file-text-o"></i>
                                                <span>Statement</span>
                                            </a>
                                        </li>
                                        {% if profile.profile_type == 'I' %}
                                        <li><!-- withdraw -->
                                            <a href="#">
                                                <i class="fa fa-menu-arrow pull-right"></i>
                                                <i class="fa fa-money"></i>
                                                <span>Fund Transfer</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="{% url 'pochi2pochi' %}">
                                                        Pochi to Pochi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'mobile' %}">
                                                        Mobile Money
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'withdraw' %}">
                                                        Bank Account
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        {% else %}
                                            <li><!-- withdraw -->
                                                <a href="{% url 'withdraw' %}">
                                                    <i class="fa fa-money"></i>
                                                    <span>Bank Transfer</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li><!-- deposit -->
                                            <a href="{% url 'deposit' %}">
                                                <i class="fa fa-credit-card">
                                                </i> <span>How to Deposit</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                {% if profile.profile_type == 'I' %}
                                <li><!-- group -->
                                    <a href="#">
                                        <i class="fa fa-menu-arrow pull-right"></i>
                                        <i class="main-icon fa fa-users"></i><span>Groups</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'group' %}">
                                                <i class="fa fa-plus"></i>
                                                <span class="label label-info pull-right"></span> <span>New Group</span>
                                            </a>
                                        </li>
                                        {% if groups %}
                                            {% for group in groups %}
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-group"></i>
                                                        <span class="label label-info pull-right"></span> <span>{{ group.name }}</span>
                                                    </a>
                                                    <ul>
                                                        <li><a href="{% url 'group_dashboard' group.name %}">Dashboard</a></li>
                                                        <li><a href="{% url 'group_balance' group.name %}">Balance</a></li>
                                                        <li><a href="{% url 'group_statement' group.name %}">Statement</a></li>
                                                        {% if group.admin %}
                                                        <li><a href="{% url 'group_activity' group.name %}">Funds Transfer</a></li>
                                                        {% endif %}
                                                        <li><a href="{% url 'deposit' %}">How to deposit</a></li>
                                                        <li><a href="{% url 'group_settings' group.name %}">Settings</a></li>
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li>
                                                <a disabled tabindex="-1">
                                                    <i class="fa fa-ban"></i>
                                                    <span>None</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>

                        {% if paid %}
                        <li><!-- market -->
                            <a href="#">
                                <i class="fa fa-menu-arrow pull-right"></i>
                                <i class="main-icon fa fa-bar-chart"></i> <span>Market Information</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="{% url 'page' 'home' %}">
                                        <i class="main-icon fa fa-cart-arrow-down"></i> <span>Market Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'page' 'exchange' %}">
                                        <i class="main-icon fa fa-exchange"></i> <span>Exchange Rates</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'page' 'interests' %}">
                                        <i class="main-icon fa fa-bar-chart-o"></i> <span>Interests Rates</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'page' 'shares' %}">
                                        <i class="main-icon fa fa-table"></i> <span>Share Prices</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'page' 'macro' %}">
                                        <i class="main-icon fa fa-pencil-square-o"></i> <span>Macro Data</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'page' 'auctions' %}">
                                        <i class="main-icon fa fa-gift"></i> <span>Auction Data</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'page' 'commodity' %}">
                                        <i class="main-icon fa fa-money"></i> <span>Commodity Prices</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                            <li>
                                <a href="{% url 'page' 'pricing' %}">
                                    <i class="main-icon fa fa-bar-chart"></i>
                                    <span>Market Information</span>
                                </a>
                            </li>
                        {% endif %}
					</ul>

                    <h3 class="size-14">MORE</h3>
                    <ul class="nav nav-list">
                        {% if profile.profile_type == 'I' %}
                        <li>
                            <a href="{% url 'index' %}">
                                <i class="main-icon fa fa-trash-o"></i>
                                <span class="label label-info pull-right"></span><span>Delete POCHI account</span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'index' %}">
                                <i class="main-icon fa fa-link"></i>
                                <span class="label label-info pull-right"></span><span>Website</span>
                            </a>
                        </li>
                    </ul>

                    {% if profile.profile_type == 'C' %}
                        <h3 class="size-14">{{ company }}</h3>
                        <ul class="nav nav-list">
                            {% for user in users %}
                                <li>{{ user }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
				</nav>
				<span id="asidebg"><!-- aside fixed background --></span>
			</aside>
			<!-- /ASIDE -->


			<!-- HEADER -->
			<header id="header">
				<!-- Mobile Button -->
				<button id="mobileMenuBtn"></button>

				<!-- Logo -->
				<a class="logo pull-left" href="{% url 'index' %}">
					<img src="/static/pochi/img/fimco.png" alt="admin panel" height="35" />
				</a>
                <!-- Logo -->

				<nav>
					<!-- OPTIONS LIST -->
					<ul class="nav pull-right">
						<!-- USER OPTIONS -->
						<li class="dropdown pull-left">
							<a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               data-hover="dropdown"
                               data-close-others="true">
								<img class="user-avatar" alt="" src="" height="34" />
								<span class="user-name">
									<span class="hidden-xs">
										{{ user.get_short_name }}<i class="fa fa-angle-down"></i>
									</span>
								</span>
							</a>
							<ul class="dropdown-menu hold-on-click">
                                <li><a>POCHI ID:<br>{{ profile.profile_id }}</a></li>
                                <li class="divider"></li>
								<li>
									<a href=""><i class="fa fa-envelope"></i> Notifications
										<span class="pull-right label label-default">0</span>
									</a>
								</li>
								<li>
									<a href="{% url 'profile_view' %}"><i class="fa fa-cogs"></i> View/Edit profile</a>
								</li>
                                {% if profile.profile_type == 'C' %}
                                    <li>
                                        <a href="{% url 'corporate' %}"><i class="fa fa-cogs"></i> Add User</a>
                                    </li>
                                {% endif %}
								<li class="divider"></li>
								<li>
									<a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Log Out</a>
								</li>
							</ul>
						</li>
						<!-- /USER OPTIONS -->
					</ul>
					<!-- /OPTIONS LIST -->
				</nav>
			</header>
			<!-- /HEADER -->

			<!-- MIDDLE -->
			{% block content %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO and message.extra_tags %}
                            <div class="row">
                                <div class="col-lg-6 col-xs-12 col-centered">
                                    <div class="alert alert-info margin-bottom-30 text-center">
                                        <p><strong>{{ message }}</strong></p>
                                        <button type="button" class="btn btn-info" data-dismiss="alert">OK</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
			{% endblock %}
			<!-- /MIDDLE -->
		</div>

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="/static/pochi/plugins/jquery/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="/static/pochi/js/app.js"></script>
        {% block scripts %}{% endblock %}
	</body>
</html>