{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/withdraw.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
                <div id="success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body modal-success text-center">
                                <p><strong><i class="glyphicon glyphicon-thumbs-up"></i> {{ message }}</strong></p>
                                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body modal-info text-center">
                                <p><strong><i class="glyphicon glyphicon-info-sign"></i> {{ message }}</strong></p>
                                <a href="{% url 'confirm' %}" class="btn btn-info btn-sm">Proceed withdrawal</a>
                                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body modal-danger text-center">
                                <p><strong><i class="glyphicon glyphicon-thumbs-down"></i> {{ message }}</strong></p>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-centered">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-transparent">
                            <strong>Withdraw money</strong>
                        </div>
                        <div class="panel-body">
                            <form action="{% url 'withdraw' %}" method="post">
                                {% csrf_token %}
                                <label>Enter Amount</label>
                                <div class="input-group margin-top-10 margin-bottom6">
                                    <input type="hidden" name="type" value="mobile">
                                    <input type="number" class="form-control" name="amount" placeholder="TZS" required>
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Withdraw money</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/pochi/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        $("#success").modal('show');
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        $("#info").modal('show');
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        $("#error").modal('show');
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}