<!-- WITHDRAW MODAL -->
<div id="withdrawModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="withdrawModalLabel">Withdraw money to my mobile money account</h4>
			</div>
            <form action="{% url 'withdraw' %}" method="post">
                {% csrf_token %}
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="col-xs-12">
                                    <div class="alert alert-danger margin-bottom-30">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <strong>{{ message }}</strong>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xs-12">
                                    <div class="alert alert-success margin-bottom-30">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <strong>{{ message }}</strong>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Enter Amount</label>
                            <input type="number" class="form-control" name="amount" placeholder="TZS" required>
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <input type="hidden" name="type" value="mobile">
                    <button type="submit" class="btn btn-primary">Withdraw money</button>
                </div>
            </form>
		</div>

	</div>
</div>
<!-- WITHDRAW MODAL -->