{% extends "pochi/main.html" %}
{% block content %}
    <section id="middle" style="background-color: #ebebeb">
        <div id="content" class="padding-20">
            <div class="col-lg-6">
                <form class="payment" method="post" action="{% url 'p2p' %}">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-transparent">
                            <strong>POCHI TO POCHI Funds Transfer</strong>
                        </div>
                        <div class="panel-body">
                            <div class="fancy-form fancy-form-select">
                                <select class="form-control">
                                    <option value="">Select your account</option>
                                    <option value="1">CRDB</option>
                                    <option value="2">M-PESA</option>
                                    <option value="3">AIRTEL MONEY</option>
                                </select>
                                <i class="fancy-arrow"></i>
                            </div>
                            <br />
                            <label>Enter Amount</label>
                            <input type="number" class="form-control" name="amount" placeholder="TZS">
                            <br />
                        </div>
                        <div class="panel-footer transfer">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> CONFIRM MONEY TRANSFER</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/pochi/js/ajax.js"></script>
{% endblock %}
