{% extends "pochi/main.html" %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
                <div class="col-lg-6">
                    <form class="payment" method="post" action="{% url 'pochi2pochi' %}">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-transparent">
                                <strong>POCHI TO POCHI Funds Transfer</strong>
                            </div>
                            <div class="panel-body">
                                <div class="fancy-form fancy-form-select">
                                    <select id="account_choice" class="form-control" title="">
                                        <option disabled="disabled">Select destination choice</option>
                                        <option value="mobile">Phone number</option>
                                        <option value="account">Account number</option>
                                    </select>
                                </div>
                                <div id="mobile-section">
                                    <label>Enter destination phone number</label>
                                    <input type="tel" class="form-control" name="dest_mobile" placeholder="Mobile number">
                                </div>
                                <div id="account-section">
                                    <label>Enter destination account</label>
                                    <input type="text" class="form-control" name="dest_account" placeholder="Account">
                                </div>
                                <div id="amount-section">
                                    <label>Enter Amount</label>
                                    <input type="number" class="form-control" name="amount" placeholder="TZS" required>
                                </div>
                            </div>
                            <div class="panel-footer transfer">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> CONFIRM MONEY TRANSFER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger margin-bottom-30">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% else %}
                        <form method="post" action="{% url 'process_p2p' %}">
                            {% csrf_token %}
                            <div class="alert alert-info margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{ message }}</strong>
                                <input type="submit" class="btn btn-primary btn-sm margin-top-10" value="Proceed checkout">
                                <a href="" class="btn btn-default btn-sm margin-top-10">Cancel</a>
                                <input type="hidden" name="account_no" value="{{ account.account }}">
                                <input type="hidden" name="msisdn" value="{{ extra.user_object.username }}">
                                <input type="hidden" name="name" value="{{ extra.user_object.get_full_name }}">
                                <input type="hidden" name="ext_wallet" value="{{ account.external_walletid }}">
                                <input type="hidden" name="dest_acc" value="{{ extra.dest_account }}">
                                <input type="hidden" name="dest_profile_id" value="{{ extra.dest_profile_id }}">
                                <input type="hidden" name="amount" value="{{ extra.amount }}">
                                <input type="hidden" name="open_bal" value="{{ extra.open_bal }}">
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('#account-section').hide();
        var choice = $("#account_choice");
        choice.on('change', function() {
            var id_choice = choice.find(":selected").val();
            if (id_choice === 'mobile'){
                $('#mobile-section').show();
                $('#account-section').hide();
            }else if (id_choice === 'account'){
                $('#account-section').show();
                $('#mobile-section').hide();
            }
        });
    </script>
{% endblock %}
