{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/css/profile.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="page-profile">
                <div class="row">
                    <div class="col-md-12 col-lg-9">
                        <div class="tabs white nomargin-top">
                            <ul class="nav nav-tabs tabs-primary">
                                <li class="active">
                                    <a href="#overview" data-toggle="tab">View Profile</a>
                                </li>
                                <li>
                                    <a href="#edit" data-toggle="tab">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="#accounts" data-toggle="tab">My Accounts</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <!-- Overview -->
                                <div id="overview" class="tab-pane active">
                                    <h4>Name: </h4>{{ data.fName }} {{ data.lName }}
                                    <h4>Gender: </h4>{{ data.gender }}
                                    <h4>Date of Birth: </h4>{{ data.dob }}
                                    <h4>Contacts: </h4>{{ data.email }}<br>{{ data.phone }}
                                    <h4>KYC Info: </h4>{{ data.client_id }}
                                    <h4>Accounts(BOT/DSE): </h4>{{ data.bot_cds }}, {{ data.bot_cds }}
                                </div>

                                <!-- Edit -->
                                <div id="edit" class="tab-pane">
                                    <form class="validate" action="{% url 'usr_edt' %} " method="post" enctype="multipart/form-data"
                                            data-success="Profile updated!" data-toastr-position="top-right">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label>First Name <small>(required)</small></label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-user"></i>
                                                        {{ pForm.fName }}
                                                        <b class="tooltip tooltip-bottom-right">Your First Name</b>
                                                    </label>
                                                    {% if pForm.fName.errors %}
                                                        {% for error in pForm.fName.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:last_name">Last Name <small>(required)</small></label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-user"></i>
                                                        {{ pForm.lName }}
                                                        <b class="tooltip tooltip-bottom-right">Your Last Name</b>
                                                    </label>
                                                    {% if pForm.lName.errors %}
                                                        {% for error in pForm.lName.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:email">Email <small>(required)</small></label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-envelope"></i>
                                                        {{ pForm.email }}
                                                        <b class="tooltip tooltip-bottom-right">Your Email</b>
                                                    </label>
                                                    {% if pForm.email.errors %}
                                                        {% for error in pForm.email.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:phone">Phone <small>(required)</small></label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-phone"></i>
                                                        {{ pForm.phone }}
                                                        <b class="tooltip tooltip-bottom-right">Your Phone (optional)</b>
                                                    </label>
                                                    {% if pForm.phone.errors %}
                                                        {% for error in pForm.phone.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:gender">Gender <small>(required)</small></label>
                                                    <label class="select mb-10">
                                                        {{ pForm.gender }}
                                                        <i class="ico-append fa fa-venus-mars"></i>
                                                    </label>
                                                    {% if pForm.gender.errors %}
                                                        {% for error in pForm.gender.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:dob">Date of Birth <small>(required)</small></label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-calendar"></i>
                                                        {{ pForm.dob }}
                                                        <b class="tooltip tooltip-bottom-right">Date of Birth</b>
                                                    </label>
                                                    {% if pForm.dob.errors %}
                                                        {% for error in pForm.dob.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Change ID type
                                                    </label>
                                                    {{ pForm.id_choice }}
                                                </div>
                                                <div class="col-md-6 col-sm-6" id="client_input">
                                                    <label>Client ID
                                                        <small>(required)</small>
                                                    </label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-id-card-o"></i>
                                                        {{ pForm.client_id }}
                                                        <b class="tooltip tooltip-bottom-right">Enter your ID</b>
                                                    </label>
                                                    {% if pForm.id_number.errors %}
                                                        {% for error in pForm.id_number.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <label>
                                                        Change your ID
                                                    </label>
                                                    <!-- custom file upload -->
                                                    <div class="fancy-file-upload fancy-file-primary">
                                                        <i class="fa fa-upload"></i>
                                                        {{ pForm.id }}
                                                        <input type="text" class="form-control"
                                                               placeholder="no file selected" readonly=""/>
                                                        <span class="button">Choose File</span>
                                                    </div>
                                                    <small class="text-muted block">Max file size: 10Mb</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:bot">BOT CDS Account
                                                        <small>(optional)</small>
                                                    </label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-briefcase"></i>
                                                        {{ pForm.bot_cds }}
                                                        <b class="tooltip tooltip-bottom-right">Enter your account no.</b>
                                                    </label>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label for="profile:dse">DSE CDS Account
                                                        <small>(optional)</small>
                                                    </label>
                                                    <label class="input mb-10">
                                                        <i class="ico-append fa fa-briefcase"></i>
                                                        {{ pForm.dse_cds }}
                                                        <b class="tooltip tooltip-bottom-right">Enter your account no.</b>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <!-- Accounts -->
                                <div id="accounts" class="tab-pane">
                                    {% if accounts %}
                                        <div class="col-md-4 col-lg-2">
                                            <div class="fancy-form fancy-form-select">
                                                <select class="form-control select2">
                                                    {% for account in accounts %}
                                                        <option value="{{ account }}">{{ account }}</option>
                                                    {% endfor %}
                                                </select>
                                                <i class="fancy-arrow-double"></i>
                                            </div>
                                        </div>
                                        {% for account in accounts %}
                                        {% endfor %}
                                    {% else %}
                                        <span class="text-gray size-20">You have 0 accounts!</span>
                                    {% endif %}

                                    <br />

                                    <div>
                                        <button type="button" id="add_account" class="btn btn-primary">Add Account</button>
                                    </div>

                                    <br />

                                    <label class="radio">
                                        <input type="radio" name="radio-btn" value="m_money">
                                        <i></i> Mobile money
                                    </label>

                                    <label class="radio">
                                        <input type="radio" name="radio-btn" value="bank_acc">
                                        <i></i> Bank Account
                                    </label>

                                    <br />

                                    <div id="mm" class="panel panel-default">
                                        <div class="panel-heading panel-heading-transparent">
                                            <strong>Mobile Money</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="fancy-form fancy-form-select">
                                                <select class="form-control">
                                                    <option value="none">None</option>
                                                    <option value="tigopesa">TIGO-PESA</option>
                                                    <option value="airtelmoney">AIRTEL-MONEY</option>
                                                    <option value="mpesa">M-PESA</option>
                                                </select>
                                                <i class="fancy-arrow"></i>
                                            </div>

                                            <br />

                                            <label>Add account Phone Number</label>
                                            <div class="fancy-form"><!-- input -->
                                                <i class="fa fa-phone-square"></i>

                                                <input type="text" class="form-control masked" data-format="0999 999999" placeholder="Enter telephone">

                                                <span class="fancy-tooltip top-left">
                                                    <em>Type Your Phone Number</em>
                                                </span>
                                            </div><!-- /input -->
                                        </div>
                                    </div>

                                    <br />

                                    <div id="ba" class="panel panel-default">
                                        <div class="panel-heading panel-heading-transparent">
                                            <strong>Bank Account</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="fancy-form fancy-form-select">
                                                <select class="form-control">
                                                    <option value="">Select bank</option>
                                                    <option value="1">CRDB</option>
                                                    <option value="2">NMB</option>
                                                    <option value="3">AMANA BANK</option>
                                                </select>
                                                <i class="fancy-arrow"></i>
                                            </div>

                                            <br />

                                            <label>Account number</label>
                                            <input type="text" class="form-control masked" data-format="999999999999999">

                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <!-- notifications -->
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h2 class="panel-title elipsis">
                                    <i class="fa fa-rss"></i> Notifications
                                </h2>
                            </header>
                            <div class="panel-body noradius padding-10">
                                <ul class="bullet-list list-unstyled">
                                    <li class="blue">
                                        <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- /notifications -->

                        <!-- groups -->
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h2 class="panel-title elipsis">
                                    <i class="fa fa-rss"></i> Groups
                                </h2>
                            </header>
                            <div class="panel-body noradius padding-10">
                                <div class="h-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4">
                                    {% for group in groups %}
                                    <div class="clearfix mb-10">
                                        <div class="thumbnail float-left rounded">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <h4 class="fs-14 m-0 b-0 p-0 bold"><a href="#">{{ group.group_name }}</a></h4>
                                    </div>
                                    {% endfor %}
                                </div>
                        </section>
                        <!-- /groups -->

                        <!-- activity -->
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h2 class="panel-title elipsis">
                                    <i class="fa fa-rss"></i> Activity
                                </h2>
                            </header>

                            <div class="panel-body noradius padding-10">
                                <!-- activity list -->
                                <div class="row profile-activity">

                                    <!-- activity item -->
                                    <div class="col-xs-2 col-sm-1">
                                        <time datetime="2014-06-29" class="datebox">
                                            <strong>Jun</strong>
                                            <span>29</span>
                                        </time>
                                    </div>
                                    <div class="col-xs-10 col-sm-11">
                                        <h6><a href="">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    <!-- /activity item -->

                                    <div class="col-sm-12">
                                        <hr class="half-margins" />
                                    </div>
                                    <!-- /activity separator -->
                                </div>
                                <!-- /activity list -->
                            </div>
                            <div class="panel-footer noradius padding-10">
                                <!-- pagination -->
                                <div class="text-center">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled"><a href="#">Prev</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                                <!-- /pagination -->
                            </div>
                        </section>
                        <!-- /activity -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}