{% extends "pochi/main.html" %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="page-profile">
                <div class="row">
                    <div class="col-md-12 col-lg-9">
                        <div class="tabs white nomargin-top">
                            <ul class="nav nav-tabs tabs-primary">
                                <li class="active">
                                    <a href="#overview" data-toggle="tab">View Profile</a>
                                </li>
                                <li>
                                    <a href="#edit" data-toggle="tab">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="#accounts" data-toggle="tab">My Accounts</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <!-- Overview -->
                                <div id="overview" class="tab-pane active">
                                    <h4 class="inline-block">Name:&nbsp;</h4>{{ data.fName }} {{ data.lName }}<br>
                                    <h4 class="inline-block">Gender:&nbsp;</h4>
                                    {% if data.gender == 'M'  %}Male{% elif data.gender == 'F' %}Female{% else %}Other{% endif %}<br>
                                    <h4 class="inline-block">Date of Birth:&nbsp;</h4>{{ data.dob }}<br>
                                    <h4 class="inline-block">Contacts:&nbsp;</h4>{{ data.email }}, {{ data.phone }}<br>
                                    <h4 class="inline-block">KYC Info:&nbsp;</h4>{{ data.client_id }}<br>
                                    <h4 class="inline-block">Accounts(BOT, DSE):&nbsp;</h4>{{ data.bot_cds }}, {{ data.bot_cds }}
                                    <h4 class="inline-block">SMS notifications:&nbsp;</h4>
                                    {% if data.notification %}YES{% else %}NO{% endif %}
                                </div>

                                <!-- Edit -->
                                <div id="edit" class="tab-pane">
                                    <form class="validate" action="{% url 'usr_edt' %} " method="post" enctype="multipart/form-data"
                                            data-success="Profile updated!" data-toastr-position="top-right">
                                        <fieldset>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>First Name *</label>
                                                        {{ pForm.fName }}
                                                        {% if pForm.fName.errors %}
                                                            {% for error in pForm.fName.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Last Name *</label>
                                                        {{ pForm.lName }}
                                                        {% if pForm.lName.errors %}
                                                            {% for error in pForm.lName.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Email *</label>
                                                        {{ pForm.email }}
                                                        {% if pForm.email.errors %}
                                                            {% for error in pForm.email.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Phone *</label>
                                                        {{ pForm.phone }}
                                                        {% if pForm.phone.errors %}
                                                            {% for error in pForm.phone.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Date of Birth *</label>
                                                        {{ pForm.dob }}
                                                        {% if pForm.dob.errors %}
                                                            {% for error in pForm.dob.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Gender *</label>
                                                        {{ pForm.gender }}
                                                        {% if pForm.gender.errors %}
                                                            {% for error in pForm.gender.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Change ID type *</label>
                                                        {{ pForm.id_choice }}
                                                        {% if pForm.id_choice.errors %}
                                                            {% for error in pForm.id_choice.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <label>Client ID *</label>
                                                        {{ pForm.client_id }}
                                                        {% if pForm.client_id.errors %}
                                                            {% for error in pForm.client_id.errors %}
                                                                <div class="alert alert-mini alert-danger mb-30">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <label>Change your ID *</label>
                                                    <!-- custom file upload -->
                                                    <div class="fancy-file-upload fancy-file-primary">
                                                        <i class="fa fa-upload"></i>
                                                        {{ pForm.scanned_id }}
                                                        <input type="text" class="form-control" placeholder="User ID" readonly=""/>
                                                        <span class="button">Choose File</span>
                                                    </div>
                                                    <small class="text-muted block">Max file size: 5Mb</small>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <label class="switch switch-success switch-round">
                                                        {{ pForm.notification }}
                                                        <span class="switch-label" data-on="YES" data-off="NO"></span>
                                                        <span> Receive SMS notifications?</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="profile:bot">BOT CDS Account
                                                            <small>(optional)</small>
                                                        </label>
                                                        {{ pForm.bot_cds }}
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="profile:dse">DSE CDS Account
                                                            <small>(optional)</small>
                                                        </label>
                                                        {{ pForm.dse_cds }}
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <!-- Accounts -->
                                <div id="accounts" class="tab-pane">
                                    {% if accounts %}
                                        You have registered the following account number to POCHI:
                                        {% for account in accounts %}
                                            {{ account }}
                                        {% endfor %}
                                    {% else %}
                                        <span class="text-gray size-20">You have 0 accounts!</span>
                                        <hr>
                                        <h4>Register a <strong>Bank Account!</strong></h4>
                                        <p>
                                            You have not registered a bank account with us. Please register by filling the form below.
                                            <span><i class="fa fa-hand-o-down"></i></span>
                                        </p>
                                        <strong>Complete Indemnity Form</strong>
                                        <form id="create_account" method="post" action="{% url 'create_form' 'individual' %}">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Account holder name *
                                                        {{ bForm.account_name }}
                                                    </label>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Account number *
                                                        {{ bForm.account_no }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Bank Name *</label>
                                                    {{ bForm.bank_name }}
                                                    {% if bForm.bank_name.errors %}
                                                        {% for error in bForm.bank_name.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Branch Name *</label>
                                                    {{ bForm.branch_name }}
                                                    {% if bForm.branch_name.errors %}
                                                        {% for error in bForm.branch_name.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Bank branch address *</label>
                                                    {{ bForm.bank_address }}
                                                    {% if bForm.bank_address.errors %}
                                                        {% for error in bForm.bank_address.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label>Swift code </label>
                                                    {{ bForm.swift_code }}
                                                    {% if bForm.swift_code.errors %}
                                                        {% for error in bForm.swift_code.errors %}
                                                            <div class="alert alert-mini alert-danger mb-30">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="submit" class="btn btn-primary" value="Download Completed Form"
                                                       id="download" disabled="disabled">
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <h3 class="text-center">--OR--</h3>
                                        <hr />
                                        <p>
                                            Download and print the blank indemnity form and submit it to your bank for stamping, then upload the
                                            stamped form by clicking the 'Upload Scanned copy' button below.
                                        </p>
                                        <div class="row" style="display: flex;justify-content: space-between;">
                                            <div class="dropdown">
                                                <a target="_blank" href="{% url 'create_form' 'individual' %}" class="btn btn-primary">Download Blank Form</a>
                                            </div>
                                            <div class="fancy-file-upload">
                                                <i class="fa fa-upload"></i>
                                                <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
                                                <input type="text" class="form-control" placeholder="Upload Scanned copy" readonly="" />
                                                <span>Upload Scanned copy</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- activity -->
                        {% comment %}<section class="panel panel-default">
                            <header class="panel-heading">
                                <h2 class="panel-title elipsis">My Activities</h2>
                            </header>

                            <div class="panel-body noradius padding-10">
                                <!-- activity list -->
                                <div class="row profile-activity">
                                    <!-- activity item -->
                                    <div class="col-xs-2 col-sm-1">
                                        <time datetime="2014-06-29" class="datebox">
                                            <strong>Jun</strong>
                                            <span>29</span>
                                        </time>
                                    </div>
                                    <div class="col-xs-10 col-sm-11">
                                        <h6><a href="">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    <!-- /activity item -->

                                    <div class="col-sm-12">
                                        <hr class="half-margins" />
                                    </div>
                                    <!-- /activity separator -->
                                </div>
                                <!-- /activity list -->
                            </div>
                            <div class="panel-footer noradius padding-10">
                                <!-- pagination -->
                                <div class="text-center">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled"><a href="#">Prev</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                                <!-- /pagination -->
                            </div>
                        </section>{% endcomment %}
                        <!-- /activity -->
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <!-- notifications -->
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h2 class="panel-title elipsis">
                                    <i class="fa fa-bell-o"></i> Notifications
                                </h2>
                            </header>
                            <div class="panel-body noradius padding-10">
                                <ul class="bullet-list list-unstyled">
                                    {% if notifications %}
                                        <li class="blue">
                                            <span class="text-gray size-12"></span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </section>
                        <!-- /notifications -->

                        <!-- groups -->
                        <section class="panel panel-default">
                            <header class="panel-heading">
                                <h2 class="panel-title elipsis">
                                    <i class="fa fa-globe"></i> Groups
                                </h2>
                            </header>
                            <div class="panel-body noradius padding-10">
                                <div class="h-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4">
                                    {% for group in groups %}
                                    <div class="clearfix mb-10">
                                        <div>
                                            <i class="fa fa-users inline-block"></i>
                                            <h4 class="fs-14 margin-bottom-1 bold inline-block">
                                                <a href="#">{{ group.name }}</a>
                                            </h4>
                                            <span class="text-gray size-12">{% if group.admin %}(Admin){% endif %}</span>
                                        </div>
                                        <hr class="half-margins">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                        <!-- /groups -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        var form_element = $('#create_account').find('.required');
        form_element.keyup(function() {
            var empty = false;
            form_element.each(function() {
                if ($(this).val() === '') {
                    empty = true;
                }
            });

            if (empty) {
                $('#download').attr('disabled', 'disabled');
            } else {
                $('#download').removeAttr('disabled');
            }
        });
    </script>
{% endblock %}