{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/interests.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="dashboard padding-20">
            <div class="row">
                <div class="col-md-12">
                    <div data-spy="scroll" class="front">
                        <table border="0" class="table-hover">
                            <caption>Shares Table</caption>
                            <tr>
                                <th>Symbol</th>
                                <th>Company Name</th>
                                <th>Time</th>
                                <th>Last</th>
                                <th>Opening</th>
                                <th>Change</th>
                                <th>%</th>
                            </tr>
                            {% for company in companies %}
                            <tr data-href="stocks">
                                <td>{{ company.symbol }}</td>
                                <td>{{ company.companyName }}</td>
                                <td>{{ company.time }}</td>
                                <td>{{ company.last }}</td>
                                <td>{{ company.opening }}</td>
                                <td>{{ company.change }}</td>
                                <td>{{ company.percent }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="layout-box">
                        <div class="responsive-tables">
                            {% for company in companies %}
                            <div class="little active">
                                <table>
                                    {%  for key, value in company.items %}
                                    <tr>
                                        <th>{{ key }}</th>
                                        <td>{{ value }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <button class="next-table"></button>
                            <button class="prev-table"></button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
     <script type="text/javascript" src="/static/pochi/js/rates.js"></script>
     <script type="text/javascript" src="/static/pochi/js/ajax.js"></script>
{% endblock %}