{% extends "pochi/main.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}
{% block content %}
    <section id="middle" style="background-color: #ebebeb">
        <!-- page title -->
        <header id="page-header">
            <h1>{{ user.get_short_name }} Statement</h1>
        </header>
        <!-- /page title -->

        <div id="content" class="padding-20">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-left">
                            <h4><strong>Client</strong> Details</h4>
                            <ul class="list-unstyled">
                                <li><strong> Name:</strong> {{ user.get_full_name }}</li>
                                <li><strong> POCHI ID:</strong> {{ profile.profile_id }}</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-2 col-lg-offset-3">
                            <h4>Select <strong>Account</strong></h4>
                            <form method="get">
                                <div class="fancy-form fancy-form-select">
                                    <select class="form-control select2" title="">
                                        {% for account in accounts %}
                                            <option value="{{ account.institution_name }}">
                                                {{ account.institution_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <i class="fancy-arrow-double"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if trans %}
                        <div class="table-responsive">
                            {% render_table table %}
                        </div>
                    {% else %}
                        <div class="alert alert-default margin-bottom-30">
                            <strong>You have no transactions yet!</strong>
                        </div>
                    {% endif %}
                    <hr class="nomargin-top" />
                </div>
            </div>
            {% if trans %}
            <div class="panel panel-default text-right">
                <div class="panel-body">
                    <a class="btn btn-primary" href="{% url 'printout' %}" target="_blank"><i class="fa fa-print"></i> PRINT STATEMENT</a>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
