{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/withdraw.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="col-lg-6 col-xs-12 col-centered">
                            <div class="alert alert-danger margin-bottom-30 text-center">
                                <p><strong>{{ message }}</strong></p>
                                <button type="button" class="btn btn-danger" data-dismiss="alert">OK</button>
                            </div>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="col-lg-6 col-xs-12 col-centered">
                            <div class="alert alert-info margin-bottom-30 text-center">
                                <p><strong>{{ message }}</strong></p>
                                <a href="{% url 'confirm' %}" class="btn btn-info btn-sm margin-top-10">Proceed transfer</a>
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-sm margin-top-10">Cancel</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-6 col-xs-12 col-centered">
                            <div class="alert alert-success margin-bottom-30 text-center">
                                <p><strong>{{ message }}</strong></p>
                                <button type="button" class="btn btn-success" data-dismiss="alert">OK</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            {% if not bank_account %}
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                        <div class="alert alert-warning margin-bottom-30">
                            <h4>Register a <strong>Bank Account!</strong></h4>
                            <p>
                                You have not registered a bank account with us. Please register by filling the form below.
                                <span><i class="fa fa-hand-o-down"></i></span>
                            </p>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-transparent">
                                <strong>Complete Indemnity Form</strong>
                            </div>
                            <div class="panel-body">
                                <form id="create_account" method="post" action="{% url 'create_form' 'individual' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <label>Account holder name *
                                                {{ bForm.account_name }}
                                            </label>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label>Account number *
                                                {{ bForm.account_no }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <label>Bank Name *</label>
                                            {{ bForm.bank_name }}
                                            {% if bForm.bank_name.errors %}
                                                {% for error in bForm.bank_name.errors %}
                                                    <div class="alert alert-mini alert-danger mb-30">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label>Branch Name *</label>
                                            {{ bForm.branch_name }}
                                            {% if bForm.branch_name.errors %}
                                                {% for error in bForm.branch_name.errors %}
                                                    <div class="alert alert-mini alert-danger mb-30">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <label>Bank branch address *</label>
                                            {{ bForm.branch_address }}
                                            {% if bForm.branch_address.errors %}
                                                {% for error in bForm.branch_address.errors %}
                                                    <div class="alert alert-mini alert-danger mb-30">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label>Swift code </label>
                                            {{ bForm.swift_code }}
                                            {% if bForm.swift_code.errors %}
                                                {% for error in bForm.swift_code.errors %}
                                                    <div class="alert alert-mini alert-danger mb-30">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="submit" class="btn btn-primary" value="Download Completed Form"
                                               id="download" disabled="disabled">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-transparent">
                                <strong>Blank Indemnity Form</strong>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Please download and print this form and submit it to your bank for stamping, then upload the
                                    stamped form by clicking the 'Upload Scanned copy' button below.
                                </p>
                                <hr />
                                <div class="row" style="display: flex;justify-content: space-between;">
                                    <div class="dropdown">
                                        <a href="{% url 'create_form' 'individual' %}" class="btn btn-primary">Download Blank Form</a>
                                    </div>
    {#                                <a href="{{ request.META.HTTP_HOST }}{% url '' %}"></a>#}
                                    <div class="fancy-file-upload">
                                        <i class="fa fa-upload"></i>
                                        <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
                                        <input type="text" class="form-control" placeholder="Upload Scanned copy" readonly="" />
                                        <span>Upload Scanned copy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-centered">
                        <div id="panel-ui-tan-l4" class="panel panel-default">
                            <div class="panel-heading">
                                <span class="elipsis">
                                    <strong>Withdraw Funds</strong>
                                </span>
                            </div>
                            <div class="panel-body">
                                <form class="payment" method="post" action="{% url 'withdraw' %}">
                                {% csrf_token %}
                                    <label>Enter Amount</label>
                                    <div class="input-group margin-top-10 margin-bottom6">
                                        <input type="hidden" name="type" value="bank">
                                        <input type="number" class="form-control" name="amount" placeholder="TZS" required>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">WITHDRAW MONEY</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-centered">
                        <div id="panel-ui-tan-l4" class="panel panel-default">
                            <div class="panel-heading">
                                <span class="elipsis">
                                    <strong>current registered bank account details</strong>
                                </span>
                            </div>
                            <div class="panel-body">
                                <p><strong>Full Name:</strong> {{ bank_account.account_name }}</p>
                                <p><strong>Bank Name:</strong> {{ bank_account.institution_name }}</p>
                                <p><strong>Branch Name:</strong> {{ bank_account.institution_branchcode }}</p>
                                <p><strong>Account Number:</strong> {{ bank_account.account_number }}</p>
                                {% if swift %}
                                <p><strong>SWIFT Code:</strong> {{ swift }}</p>
                                {% endif %}
                                {% if address %}
                                <p><strong>Bank Address:</strong> {{ address }}</p>
                                {% endif %}
                                <div><a href="{% url 'del_bank' %}" class="btn btn-primary">Delete Bank Account</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/pochi/js/ajax.js"></script>
{% endblock %}
