{% extends "pochi/main.html" %}
{% block links %}
    <link href="/static/pochi/css/withdraw.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <section id="middle">
        <div id="content" class="padding-20">
            <div class="row">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="col-lg-6 col-xs-12 col-centered">
                            <div class="alert alert-danger margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p><strong>{{ message }}</strong></p>
                            </div>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="col-lg-6 col-xs-12 col-centered">
                            <div class="alert alert-info margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p><strong>{{ message }}</strong></p>
                                <a href="{% url 'confirm' %}" class="btn btn-info btn-sm margin-top-10">Proceed transfer</a>
                                <a href="#" class="btn btn-default btn-sm margin-top-10">Cancel</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-6 col-xs-12 col-centered">
                            <div class="alert alert-success margin-bottom-30">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">×</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p><strong>{{ message }}</strong></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            {% if not bank_account %}
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                        <div class="alert alert-warning margin-bottom-30">
                            <h4>Register a <strong>Bank Account!</strong></h4>
                            <p>
                                You have not registered a bank account with us. Please register by filling the form below.
                                <span><i class="fa fa-hand-o-down"></i></span>
                            </p>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-transparent">
                                <strong>Add new Bank Account</strong>
                            </div>
                            <div class="panel-body">
                                <form method="post" action="{% url 'withdraw' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 col-xs-8">
                                            <label>Account holder name *
                                                <input type="text" class="form-control" name="name" required>
                                            </label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <label>Account number *
                                                <input type="text" class="form-control masked" name="account" data-format="999999999999999">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-8">
                                            <label>Bank name *
                                                <input type="text" class="form-control" name="bank">
                                            </label>
                                            <input type="hidden" name="type" value="account" required>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-8">
                                            <label> Bank branch *
                                                <input type="text" class="form-control" name="branch" required>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-xs-12">
                                            <label>Bank address *
                                                <textarea rows="4" cols="100%" class="form-control required" name="address" required></textarea>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-8">
                                            <label>Swift code <small>(optional)</small>
                                                <input type="text" class="form-control" name="swift">
                                            </label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <label>Alias account name <small>(short name)</small> *
                                                <input type="text" class="form-control" name="nickname" required>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="submit" class="btn btn-primary" value="Add Account">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-centered">
                        <div id="panel-ui-tan-l4" class="panel panel-default">
                            <div class="panel-heading">
                                <span class="elipsis">
                                    <strong>Withdraw Funds</strong>
                                </span>
                            </div>
                            <div class="panel-body">
                                <form class="payment" method="post" action="{% url 'withdraw' %}">
                                {% csrf_token %}
                                    <label>Enter Amount</label>
                                    <div class="input-group margin-top-10 margin-bottom6">
                                        <input type="hidden" name="type" value="bank">
                                        <input type="number" class="form-control" name="amount" placeholder="TZS" required>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">WITHDRAW MONEY</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-centered">
                        <div id="panel-ui-tan-l4" class="panel panel-default">
                            <div class="panel-heading">
                                <span class="elipsis">
                                    <strong>{{ bank_account.account_name }}</strong>
                                </span>
                            </div>
                            <div class="panel-body">
                                <p><strong>Bank Name:</strong> {{ bank_account.institution_name }}</p>
                                <p><strong>Branch Name:</strong> {{ bank_account.institution_branchcode }}</p>
                                <p><strong>Account Number:</strong> {{ bank_account.account_number }}</p>
                                {% if swift %}
                                <p><strong>SWIFT Code:</strong> {{ swift }}</p>
                                {% endif %}
                                {% if address %}
                                <p><strong>Bank Address:</strong> {{ address }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-transparent">
                            <strong>Indemnity Form</strong>
                        </div>
                        <div class="panel-body">
                            <p>
                                Please download and print this form and submit it to your bank for stamping, then upload the
                                stamped form by clicking the 'Upload Scanned copy' button below.
                            </p>
                            <hr />
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dropdown">
                                        <button onclick="show_dropdown('download')" class="btn btn-primary">Download Form</button>
                                        <div id="download" class="dropdown-content">
                                            {% if buttons %}
                                                <a href="{% url 'create_form' %}">Download completed form</a>
                                            {% endif %}
                                            <a href="{% url 'create_form' %}">Download blank form</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-primary">Upload Scanned copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/pochi/js/ajax.js"></script>
{% endblock %}
