{% extends "backend/base.html" %}
{% block links %}
    <link href="/static/backend/css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="padding-15">
        <div class="login-box">
            <!-- login form -->
            <form action="{% url 'admin_sign_in' %}" method="post" class="sky-form boxed">
                <header><i class="fa fa-lock"></i> Sign In</header>
                {% if lForm.errors %}
                    <div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
                        <strong>Invalid Email or Password!</strong>
                    </div>
                {% endif %}

                <!--
                <div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
                    Invalid Email or Password!
                </div>

                <div class="alert alert-warning noborder text-center weight-400 nomargin noradius">
                    Account Inactive!
                </div>

                <div class="alert alert-default noborder text-center weight-400 nomargin noradius">
                    <strong>Too many failures!</strong> <br />
                    Please wait: <span class="inlineCountdown" data-seconds="180"></span>
                </div>
                -->

                <fieldset>

                    <section>
                        <label class="label">Username</label>
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            {{ lForm.username }}
                            <span class="tooltip tooltip-top-right">Enter your username</span>
                        </label>
                    </section>

                    <section>
                        <label class="label">Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            {{ lForm.password }}
                            <b class="tooltip tooltip-top-right">Enter your Password</b>
                        </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>Keep me logged in</label>
                    </section>

                </fieldset>

                <footer>
                    <button type="submit" class="btn btn-primary pull-right">Sign In</button>
                    <div class="forgot-password pull-left">
                        <a href="">Forgot password?</a> <br />
                        <a href="{% url 'admin_account' %}"><b>Need to Register?</b></a>
                    </div>
                </footer>
            </form>
            <!-- /login form -->
        </div>
    </div>
{% endblock %}
{% block scripts %}
{#    <script type="text/javascript" src="/static/backend/js/"></script>#}
{% endblock %}