{# Exchange chart #}
<div class="modal fade"
     id="exchangeChartModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exchangeChartModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Exchange</h4>
            </div>
            <div class="modal-body">
                <canvas id="exchangeChart"></canvas>
            </div>
        </div>
    </div>
</div>

