{% extends "fimcoplatform/base.html" %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-9">
                    <p class="lead">
                        Access to market information includes historical data and is a powerful in the hands of
                        investors to drive their investment decisions. We offer a free limited view of market
                        information as well as fee based service for individuals and corporates that covers more data
                        and more historical analysis.
                    </p>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pricing-table popular">
                                <div class="plan-title">Standard Plan</div>
                                <div class="plan-price">TZS 20,000 <span>per month</span></div>
                                <ul class="plan-features">
                                    <li>20 GB Storage</li>
                                    <li>- - - - - -</li>
                                    <li>Unlimited Domains</li>
                                    <li>- - - - - -</li>
                                    <li>cPanel Free</li>
                                    <li>- - - - - -</li>
                                    <li>SSL Certificate</li>
                                </ul>
                                <div class="plan-buy text-center">
                                    <a class="btn btn-primary" href="#">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table">
                                <div class="plan-title">Professional Plan</div>
                                <div class="plan-price">TZS 30,000 <span>per month</span></div>
                                <ul class="plan-features">
                                    <li>20 GB Storage</li>
                                    <li>- - - - - -</li>
                                    <li>Unlimited Domains</li>
                                    <li>- - - - - -</li>
                                    <li>cPanel Free</li>
                                    <li>- - - - - -</li>
                                    <li>Enhanced SSL Security</li>
                                </ul>
                                <div class="plan-buy text-center">
                                    <a class="btn btn-primary" href="#">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table">
                                <div class="plan-title">Business Plan</div>
                                <div class="plan-price">TZS 40,000 <span>per month</span></div>
                                <ul class="plan-features">
                                    <li>20 GB Storage</li>
                                    <li>- - - - - -</li>
                                    <li>Unlimited Domains</li>
                                    <li>- - - - - -</li>
                                    <li>cPanel Free</li>
                                    <li>- - - - - -</li>
                                    <li>Enhanced SSL Security</li>
                                </ul>
                                <div class="plan-buy text-center">
                                    <a class="btn btn-primary" href="#">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- RIGHT -->
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
{% endblock %}